@font-face {
    font-family: 'anglo_textregular';
    src: url('/modules/monks-enhanced-journal/fonts/anglotext-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lovers_quarrelregular';
    src: url('/modules/monks-enhanced-journal/fonts/loversquarrel-regular-webfont.woff2') format('woff2'), 
        url('/modules/monks-enhanced-journal/fonts/loversquarrel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Play-Regular";
    src: url("/modules/monks-enhanced-journal/fonts/Play-Regular.woff2") format("woff2"), /* Modern Browsers */
        url("/modules/monks-enhanced-journal/fonts/Play-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

section.readaloud {
    padding: 5px 10px;
    margin: 8px 2px;
    background: #f7efdb;
    border-right: 2px solid #37161a;
    border-left: 2px solid #37161a;
    position: relative;
    width: calc(100% - 12px);
}

#tinymce section.readaloud {
    width: calc(100% - 32px);
}

section.readaloud:before, section.readaloud:after {
    content: "";
    position: absolute;
    height: calc(100% + 10px);
    width: 20px;
    top: -5px;
    background-image: radial-gradient(circle at center, #37161a 2px, transparent 3px), radial-gradient(circle at center, #37161a 2px, transparent 3px);
    background-size: 10px 10px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
}

section.readaloud:before {
    left: -11px;
}

section.readaloud:after {
    right: -11px;
}

section.readaloud2 {
    padding: 5px 10px;
    margin: 8px 2px;
    background: #f7efdb;
    border-right: 2px solid #37161a;
    border-left: 2px solid #37161a;
    position: relative;
    width: calc(100% - 12px);
}

#tinymce section.readaloud2 {
    width: calc(100% - 32px);
}

section.readaloud2:before, section.readaloud2:after {
    content: "";
    position: absolute;
    height: calc(100% + 10px);
    width: 20px;
    top: -5px;
    background-image: linear-gradient(135deg, transparent 0%,transparent 50%,#37161A 51%,#37161A 100%), linear-gradient(45deg, transparent 0%,transparent 50%,#37161A 51%,#37161A 100%);
    background-size: 5px 10px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
}

section.readaloud2:before {
    left: -11px;
}

section.readaloud2:after {
    right: -11px;
}

span.drop-cap {
    float: left;
    font-size: 3em;
    line-height: 0.8em;
    padding-top: 0em;
    padding-bottom: 0em;
}

span.font-size-11 {
    font-size: var(--font-size-11);
}
span.font-size-12 {
    font-size: var(--font-size-12);
}
span.font-size-13 {
    font-size: var(--font-size-13);
}
span.font-size-14 {
    font-size: var(--font-size-14);
}
span.font-size-16 {
    font-size: var(--font-size-16);
}
span.font-size-18 {
    font-size: var(--font-size-18);
}
span.font-size-20 {
    font-size: var(--font-size-20);
}
span.font-size-24 {
    font-size: var(--font-size-24);
}
span.font-size-28 {
    font-size: var(--font-size-28);
}
span.font-size-32 {
    font-size: var(--font-size-32);
}
span.font-size-48 {
    font-size: var(--font-size-48);
}

html {
    min-height: 100%;
    height: fit-content;
}

/*
.mce-content-body {
    height:100%;
}*/
