<section class="apsj-block {{colour}}-item">
    <header>
        <h1 class="apsj-title">
            {{ heading }}
        </h1>
    </header>
    <div class="apsj-block-contents">
        <aside class="apsj-{{colour}}-item">
        </aside>
        <main class="apsj-{{colour}}-overlay">
            <p class="apsj-h2">
                {{ localize 'APSJournal.block.description' }}
            </p>
            <p class="apsj-data">
                {{ body }}
            </p>
        </main>
    </div>
</section>
<p></p>