<section class="apsj-block apsj-card">
    <header>
        <h1 class="apsj-title">
            {{ localize 'APSJournal.block-card.heading' }}
        </h1>
    </header>
    <div class="apsj-block-contents" style="flex-wrap: wrap">
        <aside class="apsj-card-aside"></aside>
        <main class="apsj-purple-overlay">
            <p class="apsj-h2">{{ localize 'APSJournal.block.description' }}</p>
            <p class="apsj-data">{{ localize 'APSJournal.block-card.body' }}</p>
            <p class="apsj-h2">{{ localize 'APSJournal.block.stats' }}</p>
        </main>
    </div>
</section>
<p></p>
<p></p>
