<section class="apsj-block apsj-encounter">
    <header>
        <h1 class="apsj-title">
            {{ localize 'APSJournal.block-encounter.heading' }}
        </h1>
    </header>
    <div class="apsj-block-contents">
        <main class="apsj-light-overlay">
            <p class="apsj-h2">{{ localize 'APSJournal.block.description' }}</p>
            <p>{{{ localize 'APSJournal.block-encounter.body' }}}</p>
        </main>
        <aside class="apsj-red-overlay">
            <p class="apsj-h2">{{ localize 'APSJournal.block.adversaries' }}</p>
            <p class="apsj-data"></p>
        </aside>
        <p></p>
    </div>
</section>
<p></p>
<p></p>
