<section class="apsj-block apsj-scroll">
    <header>
        <h1 class="apsj-title">
            {{ localize 'APSJournal.block-scroll.heading' }}
        </h1>
    </header>
    <div class="apsj-block-contents" style="flex-wrap: wrap">
        <aside class="apsj-scroll-aside"></aside>
        <main class="apsj-green-overlay">
            <p class="apsj-h2">{{ localize 'APSJournal.block.description' }}</p>
            <p class="apsj-data">
                {{{ localize 'APSJournal.block-scroll.body' }}}
            </p>
        </main>
    </div>
</section>
<p></p>
<p></p>
