<form>
    <p class="notes">Change the rate this shop sells items and buys them back.</p>
    <div class="form-group">
        <label>Buy back from player</label>
        <div class="form-fields">
            <span style="font-size:20px;margin-left:10px;flex: 0 0 20px;text-align:left;">&times;</span>
            <input type="number" style="flex: 0 0 60px;text-align:right;" name="adjustment.buy" min="0" data-dtype="Number" value="{{buy}}" />
        </div>
    </div>
    <div class="form-group">
        <label>Sell to players</label>
        <div class="form-fields">
            <span style="font-size:20px;margin-left:10px;flex: 0 0 20px;text-align:left;">&times;</span>
            <input type="number" style="flex: 0 0 60px;text-align:right;" name="adjustment.sell" min="0" data-dtype="Number" value="{{sell}}" />
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label>{{localize 'MonksEnhancedJournal.ConvertShopItems'}}</label>
        <div class="form-fields" style="text-align:right;">
            <a class="convert-button"><i class="fas fa-donate"></i> {{localize 'MonksEnhancedJournal.Convert'}}</a>
        </div>
    </div>
</form>