<div style="padding:4px;">
    {{{msg}}}
    <hr />
    <div class="flexrow" style="align-items:center;">
        <img style="flex:0 0 30px;width:30px;height:30px;margin-right:8px;" src="{{img}}" /><i>{{name}}</i>
    </div>
    <hr />
    <div class="flexrow" style="align-items: center;">
        <div></div>
        <div class="flexcol">
            <div class="flexrow">
                <span><b>{{localize 'MonksEnhancedJournal.Quantity'}}:</b>{{#if maxquantity}}<i><small>({{localize 'MonksEnhancedJournal.Max'}}: {{maxquantity}})</small></i>{{/if}}</span>
                <input type="number" min="1" {{#if maxquantity}} max="{{maxquantity}}" {{/if}} step="1" name="quantity" style="flex:0 0 75px;text-align:right;" value="{{quantity}}" />
            </div>
            {{#if total }}
            <div class="flexrow">
                <span><b>{{localize 'MonksEnhancedJournal.Price'}}:</b></span>
                {{#if isGM}}<input type="text" name="price" style="flex: 0 0 75px; text-align: right;" value="{{price}}" />{{else}}<span style="text-align: right; margin-right: 4px; ">{{price}}</span>{{/if}}
            </div>
            <div class="flexrow" style="border-top: 1px solid #C0C0C0;">
                <span><b>{{localize 'MonksEnhancedJournal.Total'}}:</b></span>
                <span class="request-total" style="text-align: right; margin-right: 4px;">{{total}}</span>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<hr />