<form class="dc-config" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="name">{{localize 'MonksEnhancedJournal.Name'}}</label>
        <div class="form-fields">
            <input type="text" name="name" value="{{object.name}}">
        </div>
    </div>
    <div class="form-group">
        <label for="img">{{localize 'MonksEnhancedJournal.Image'}}</label>
        <div class="form-fields">
            {{ filePicker type="image" target="img" }}
            <input class="image" type="text" name="img" placeholder="path/image.png" value="{{object.img}}">
        </div>
    </div>
    <div class="form-group">
        <label for="attribute">{{localize 'MonksEnhancedJournal.Attribute'}}</label>
        <div class="form-fields">
            <select name="attribute">
                {{ selectGroups attributeOptions selected=object.attribute localize=true }}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="dc">{{localize 'MonksEnhancedJournal.DC'}}</label>
        <div class="form-fields">
            <input type="number" name="dc" value="{{object.dc}}">
        </div>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "MonksEnhancedJournal.Update"}}</button>
</form>