{{#*inline "folderPartial"}}
<li class="directory-item folder flexcol {{#unless folder.expanded}}collapsed{{/unless}}"
    data-folder-id="{{folder.id}}" data-folder-depth="{{node.depth}}">
    <header class="folder-header flexrow{{#if folder.color}} customcolor{{/if}}" {{#if folder.color}} style="background-color: {{folder.color}}" {{/if}}>
        <h3 class="noborder"><i class="fas fa-folder-open fa-fw"></i>{{folder.name}}</h3>
        {{#if user.isGM}}
        <a class="create-button create-folder" data-parent-folder="{{folder.id}}"><i class="fas fa-folder fa-fw"></i><i class="fas fa-plus"></i></a>
        <a class="create-button create-document" data-folder="{{folder.id}}"><i class="fas fa-book-open fa-fw"></i><i class="fas fa-plus"></i></a>
        {{/if}}
    </header>

    <ol class="subdirectory" {{#if folder.color}} style="border-left-color: {{folder.color}};border-bottom-color: {{folder.color}}" {{/if}}>
        {{~#each node.children}}
        {{> folderPartial node=this folder=this.folder user=../user}}
        {{/each}}
        {{#each node.documents}}
        {{> documentPartial}}
        {{/each~}}
    </ol>
</li>
{{/inline}}

{{#*inline "documentPartial"}}
<li class="directory-item document journalentry flexrow" data-document-id="{{this.id}}">
    <h4 class="document-name"><a>{{this.name}}</a></h4>
</li>
{{/inline}}

<section class="sidebar-tab sidebar-directory directory tab flexcol journal-directory" id="journal-directory" data-tab="journal">
    <!-- Directory Header -->
    <header class="directory-header">
        <div class="header-actions action-buttons flexrow">
            {{#if canCreate}}
            <button class="create-document"><i class="fas fa-book-open"></i> {{localize 'SIDEBAR.Create' type=label}}</button>
            {{/if}}
            {{#if user.isGM }}
            <button class="create-folder"><i class="fas fa-folder"></i> {{localize 'FOLDER.Create'}}</button>
            {{/if}}
        </div>
        <div class="header-search flexrow">
            <i class="fas fa-search"></i>
            <input type="text" name="search" value="" placeholder="{{localize 'SIDEBAR.Search' types=labelPlural}}" autocomplete="off" />
            <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up fa-fw"></i></a>
        </div>
    </header>

    <!-- Directories List -->
    <ol class="directory-list">
        {{~#each tree.children}}
        {{> folderPartial node=this folder=this.folder user=../user}}
        {{/each}}
        {{#each tree.documents}}
        {{> documentPartial}}
        {{/each~}}
    </ol>
</section>