<div class="monks-enhanced-journal flexcol editattributes monks-journal-sheet sheet">
    <form>
        <div class="dialog-content">
            <div class="items-list">
                <div class="item-header flexrow" style="position: relative;">
                    <div class="item-controls"></div>
                    <div class="item-detail" style="text-align:left;">{{localize 'MonksEnhancedJournal.Code'}}</div>
                    <div class="item-name">{{localize 'MonksEnhancedJournal.Name'}}</div>
                    <div class="item-detail">{{localize 'MonksEnhancedJournal.Hidden'}}</div>
                    <div class="item-detail">{{localize 'MonksEnhancedJournal.Full'}}</div>
                    <div class="item-controls flexrow" buttons="2">
                        <a class="item-control text item-add"><i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}</a>
                    </div>
                </div>

                <ol class="item-list" style="max-height: 500px;">
                    {{#each fields}}
                    <li class="item flexrow" data-id="{{this.id}}">
                        <div class="item-controls">
                            <i class="fas fa-bars reorder" style="cursor:ns-resize;"></i>
                        </div>

                        <div class="item-detail" style="text-align:left;">
                            <input type="text" name="id" autocomplete="off" value="{{this.id}}" />
                        </div>

                        <div class="item-name">
                            <input type="text" name="name" autocomplete="off" value="{{this.name}}" />
                        </div>

                        <div class="item-detail">
                            <input type="checkbox" name="hidden" {{checked this.hidden}} />
                        </div>

                        <div class="item-detail">
                            <input type="checkbox" name="full" {{checked this.full}} />
                        </div>

                        <div class="item-controls flexrow" buttons="2">
                            <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <footer class="sheet-footer flexrow">
            <button type="button" name="submit">
                <i class="far fa-save"></i> {{localize 'MonksEnhancedJournal.SaveChanges'}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize 'MonksEnhancedJournal.ResetDefaults'}}
            </button>
        </footer>
    </form>
</div>
