<form class="edit-fields monks-journal-sheet sheet" autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="items-list">
        <li class="items-header flexrow" style="position: relative;">
            <div class="item-name" style="text-align: left; margin-left: 4px;">{{localize 'MonksEnhancedJournal.Name'}}</div>
            <div class="item-controls">{{localize 'MonksEnhancedJournal.Shown'}}</div>
        </li>

        <ol class="item-list" style="padding-left: 0px; max-height: 500px; overflow-y: auto;">
            {{#each fields}}
            <li class="item flexrow" data-id="{{this.id}}" style="position:relative;">
                <div class="item-name">
                    <h4 class="noborder" for="content">{{localize this.name}}</h4>
                </div>

                <div class="item-controls" style="text-align: center;">
                    <input type="checkbox" name="attributes.{{this.id}}.shown" {{checked (not this.hidden)}} />
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
</form>