<div class="monks-enhanced-journal flexcol editcurrency">
    <form>
        <p class="notes">{{localize 'MonksEnhancedJournal.msg.SetTheConversionToZero'}}</p>
        <div class="dialog-content">
            <ol class="items-list">
                <li class="items-header flexrow" style="position: relative;">
                    <div class="item-controls" style="margin-left: 8px;">{{localize 'MonksEnhancedJournal.Code'}}</div>
                    <div class="item-name">{{localize 'MonksEnhancedJournal.Name'}}</div>
                    <div class="item-controls" style="text-align: right;">{{localize 'MonksEnhancedJournal.Convert'}}</div>
                    <div class="item-controls flexrow" style="text-align: center;">
                        <a class="item-control item-add"><i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}</a>
                    </div>
                </li>

                <ol class="item-list">
                    {{#each currency}}
                    <li class="item flexrow" data-id="{{this.id}}" style="position:relative;">
                        <div class="item-controls" style="text-align:center;">
                            <input type="text" name="id" autocomplete="off" value="{{this.id}}" />
                        </div>

                        <div class="item-name">
                            <input type="text" name="name" autocomplete="off" value="{{this.name}}" />
                        </div>

                        <div class="item-controls">
                            <input type="number" name="convert" class="currency-conversion" autocomplete="off" style="text-align: right;" value="{{this.convert}}" />
                        </div>

                        <div class="item-controls flexrow" style="text-align:center;">
                            <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
        <footer class="sheet-footer flexrow">
            <button type="button" name="submit">
                <i class="far fa-save"></i> {{localize 'MonksEnhancedJournal.SaveChanges'}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize 'MonksEnhancedJournal.ResetDefaults'}}
            </button>
        </footer>
    </form>
</div>