<div class="flexcol sheet-body encounter-body">
    <div class="header-name">
        <input name="name" type="text" value="{{name}}" placeholder="Encounter Name">
    </div>
    <div class="encounter-content">
        <div class="editor-content" data-edit="entity.summary">
            {{{entity.summary}}}
        </div>
        <a class="editor-edit" style="display:none;"><i class="fas fa-edit"></i></a>
    </div>
    <div class="encounter-sidebar flexcol">
        <div>
            <h2>Monsters</h2>
            <!-- -->
        </div>
        <div>
            <h2>Items</h2>
            Drag drop? But just a regular list with image and name<br/>
            Select items
        </div>
        <div>
            <h2>DCs</h2>
        </div>
        <div>
            <h2>Traps</h2>
        </div>
    </div>
</div>