<form class="flexcol journal-subsheet sheet-body {{entrytype}}" editable="{{editable}}">
    <div class="encounter-body">
        <div class="header-name flexrow">
            <i class="fas fa-toolbox sheet-icon"></i>
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.EncounterName'}}">
        </div>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item active" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            {{#if owner}}
            <a class="item" data-tab="monsters">{{localize 'MonksEnhancedJournal.Monsters'}}</a>
            <a class="item" data-tab="items">{{localize 'MonksEnhancedJournal.Loot'}}</a>
            <a class="item" data-tab="dcs">{{localize 'MonksEnhancedJournal.DCs'}}</a>
            {{/if}}
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body">
            <div class="tab description active" data-group="primary" data-tab="description">
                <div class="tab-inner flexcol">
                {{editor target="content" content=data.content editable=true button=true owner=owner}}
                </div>
            </div>
            {{#if owner}}
            <div class="tab monsters" data-group="primary" data-tab="monsters">
                <div class="encounter-content flexcol">
                    <div style="height:100%;">
                        <ol class="items-list encounter-monsters">
                            <li class="items-header flexrow" style="position: relative;">
                                <div class="encounter-buttons flexrow">
                                    <div class="create-combat" title="{{localize 'MonksEnhancedJournal.DragMonstersCombat'}}"><i class="fas fa-fist-raised"></i></div>
                                    <div class="create-encounter" title="{{localize 'MonksEnhancedJournal.DragMonsters'}}"><i class="fas fa-user-plus"></i></div>
                                    <div class="select-encounter" title="{{localize 'MonksEnhancedJournal.SelectEncounter'}}"><i class="fas fa-expand"></i></div>
                                </div>
                                <h3 class="item-name monster-name flexrow">
                                    {{localize 'MonksEnhancedJournal.Monsters'}}
                                </h3>
                                <div class="item-controls item-hidden">{{localize 'MonksEnhancedJournal.Hidden'}}</div>
                                <div class="item-controls item-quantity">{{localize 'MonksEnhancedJournal.Quantity'}}</div>
                                <div class="item-controls flexrow">
                                    <a class="item-control roll-table" title="Populate from Rolltable"><i class="fas fa-th-list"></i></a>
                                </div>
                            </li>

                            <ol class="item-list">
                                {{#each data.flags.monks-enhanced-journal.actors}}
                                <li class="item flexrow " data-pack="{{this.pack}}" data-id="{{this.id}}" data-container="actors" data-type="Actor" draggable="false" style="position:relative;">
                                    <div class="item-name flexrow">
                                        <div class="item-image monster-icon" data-id="{{this.id}}" data-type="Actor" style="background-image: url('{{this.img}}')" draggable="false"></div>
                                        <h4>{{this.name}}</h4>
                                    </div>

                                    <div class="item-controls item-hidden" style="text-align:center;">
                                        <input type="checkbox" name="actors.{{this.id}}.hidden" {{checked this.hidden}} data-dtype="Boolean" style="text-align:center;" />
                                    </div>

                                    <div class="item-controls item-quantity">
                                        <input type="text" name="actors.{{this.id}}.quantity" value="{{this.quantity}}" style="text-align:center;" />
                                    </div>

                                    <div class="item-controls flexrow">
                                        <a class="item-control monster-delete" title="{{localize 'MonksEnhancedJournal.DeleteMonster'}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{else}}
                                {{#if owner}}
                                <li class="instruction">Drag an actor here to add it to the encounter</li>
                                {{else}}
                                <li class="instruction">No monsters at the moment</li>
                                {{/if}}
                                {{/each}}
                            </ol>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="tab items" data-group="primary" data-tab="items">
                <div class="tab-inner flexcol">
                    {{#if currency}}
                    <div class="form-group currency-group">
                        <label style="max-width: 150px;">{{localize 'MonksEnhancedJournal.Currency'}}</label>
                        <div class="form-fields" style="flex-wrap:nowrap;">
                            {{#each currency}}
                            <label style="max-width: 60px;">{{localize this.name}}</label>
                            <input type="number" min="0" name="flags.monks-enhanced-journal.currency.{{this.id}}" placeholder="0" value="{{this.value}}" style="text-align:right;max-width:60px;" />
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    <ol class="items-list encounter-items">
                        <li class="items-header flexrow">
                            <div class="encounter-buttons flexrow">
                                <div class="assign-items" title="{{localize 'MonksEnhancedJournal.AssignItems'}}"><i class="fas fa-suitcase"></i></div>
                            </div>
                            <h3 class="item-name flexrow">{{localize 'MonksEnhancedJournal.Items'}}</h3>
                            <div class="item-controls item-assigned">{{localize 'MonksEnhancedJournal.Assigned'}}</div>
                            <div class="item-controls item-quantity">{{localize 'MonksEnhancedJournal.Qty'}}</div>
                            <div class="item-controls item-quantity">{{localize 'MonksEnhancedJournal.Remaining'}}</div>
                            <div class="item-controls flexrow">
                                <a class="item-control refill-all" title="Refill all items"><i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </li>

                        <ol class="item-list">
                            {{#each groups}}
                            <li class="items-header flexrow{{#if this.collapsed}} collapsed{{/if}}" data-id="{{this.id}}">
                                <h3 class="item-name flexrow">{{localize this.name}} <span class="item-count">({{this.items.length}} items)</span></h3>
                            </li>
                            <ul class="item-list" {{#if this.collapsed}}style="display: none;"{{/if}}>
                                {{#each this.items}}
                                <li class="item flexrow{{#if this.received}} received{{/if}}{{#if (eq this.remaining 0)}} empty{{/if}}" data-id="{{this.id}}" data-container="items" data-document="Item" draggable="false">
                                    <div class="item-name flexrow">
                                        <div class="item-image item-icon" style="background-image: url('{{this.img}}')"></div>
                                        <h4>{{this.name}}</h4>
                                    </div>

                                    <div class="item-name item-received">
                                        {{#if this.received}}received by {{this.received}}{{/if}}
                                    </div>

                                    <div class="item-controls item-assigned">
                                        <input type="checkbox" name="items.{{this.id}}.assigned" {{checked this.assigned}} style="text-align:center;" />
                                    </div>

                                    <div class="item-controls item-quantity">
                                        <input type="number" min="0" name="items.{{this.id}}.data.{{@root.quantityname}}{{@root.valStr}}" value="{{this.quantity}}" style="text-align:center;" />
                                    </div>

                                    <div class="item-controls item-remaining">
                                        <input type="number" name="items.{{this.id}}.data.remaining" value="{{this.remaining}}" style="text-align:center;" />
                                    </div>

                                    <div class="item-controls flexrow">
                                        <a class="item-control item-refill" title="{{localize 'MonksEnhancedJournal.RefillItem'}}"><i class="fas fa-cart-arrow-down"></i></a>
                                        <a class="item-control item-edit" title="{{localize 'MonksEnhancedJournal.EditItem'}}"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">Drag an Item onto the encounter to add it to the rewards</li>
                            {{else}}
                            <li class="instruction">No rewards at the moment</li>
                            {{/if}}
                            {{/each}}
                        </ol>
                    </ol>
                </div>
            </div>
            <div class="tab dcs" data-group="primary" data-tab="dcs">
                <div class="tab-inner flexcol">
                    <ol class="items-list encounter-dcs">
                        <li class="items-header flexrow">
                            <h3 class="item-name flexrow">{{localize 'MonksEnhancedJournal.DCs'}}</h3>

                            <div class="item-detail item-attribute">{{localize 'MonksEnhancedJournal.Attribute'}}</div>
                            <div class="item-detail item-dc">{{localize 'MonksEnhancedJournal.DC'}}</div>

                            <div class="item-controls flexrow">
                                <a class="item-control dc-create" title="{{localize 'MonksEnhancedJournal.CreateDC'}}" data-type="dc">
                                    <i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}
                                </a>
                            </div>
                        </li>

                        <ol class="item-list">
                            {{#each dcs}}
                            <li class="item flexrow " data-id="{{this.id}}" data-container="dcs" draggable="false">
                                <div class="item-name flexrow rollable">
                                    <div class="item-image" {{#if this.img}} style="background-image: url('{{this.img}}')" {{/if}}></div>
                                    <h4>{{this.name}}</h4>
                                </div>

                                <div class="item-detail item-attribute">
                                    {{this.label}}
                                </div>
                                <div class="item-detail item-dc">
                                    DC {{this.dc}}
                                </div>

                                <div class="item-controls flexrow">
                                    <a class="item-control dc-edit" title="{{localize 'MonksEnhancedJournal.EditDC'}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control dc-delete" title="{{localize 'MonksEnhancedJournal.DeleteDC'}}"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">No DCs added yet, press the Add button to create one</li>
                            {{else}}
                            <li class="instruction">No DCs at the moment</li>
                            {{/if}}
                            {{/each}}
                        </ol>
                    </ol>
                </div>
            </div>
            <div class="tab traps" data-group="primary" data-tab="traps" style="display:none;">
                <div class="tab-inner flexcol">
                    <ol class="items-list encounter-traps">
                        <li class="items-header flexrow">
                            <h3 class="item-name flexrow">{{localize 'MonksEnhancedJournal.Traps'}}</h3>

                            <div class="item-detail item-find">{{localize 'MonksEnhancedJournal.Find'}}</div>
                            <div class="item-detail item-disarm">{{localize 'MonksEnhancedJournal.Disarm'}}</div>
                            <div class="item-detail item-avoid">{{localize 'MonksEnhancedJournal.Avoid'}}</div>

                            <div class="item-controls flexrow">
                                <a class="item-control trap-create" title="{{localize 'MonksEnhancedJournal.CreateTrap'}}" data-type="dc">
                                    <i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}
                                </a>
                            </div>
                        </li>

                        <ol class="item-list">
                            {{#each data.flags.monks-enhanced-journal.traps}}
                            <li class="item flexrow" data-id="{{this.id}}" data-container="traps" draggable="false">
                                <div class="item-name flexrow rollable">
                                    <div class="item-image" {{#if this.img}} style="background-image: url('{{this.img}}')" {{/if}}></div>
                                    <h4>{{this.name}}</h4>
                                </div>

                                <div class="item-detail item-find">
                                    {{this.finddc}}
                                </div>
                                <div class="item-detail item-disarm">
                                    {{this.disarmdc}}
                                </div>
                                <div class="item-detail item-avoid">
                                    {{this.avoiddc}}
                                </div>

                                <div class="item-controls flexrow">
                                    <a class="item-control trap-edit" title="{{localize 'MonksEnhancedJournal.EditTrap'}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control trap-delete" title="{{localize 'MonksEnhancedJournal.DeleteTrap'}}"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </ol>
                </div>
            </div>
            {{/if}}
            <div class="tab notes" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    <div style="flex-grow: 0;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}{{#unless hasGM}}<span style="color:darkred;font-weight:bold;"> Cannot edit notes if there's no GM present</span>{{/unless}}</div>
                <div>
                    <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" class="trim-textarea">{{userdata.notes}}</textarea>
                </div>
                </div>
            </div>
        </section>
    </div>
</form>
