<div class="flexcol journal-subsheet journal-body {{entrytype}}" editable="{{editable}}">
    <header class="header-name">
        <input name="name" type="text" value="{{name}}" placeholder="{{localize 'MonksEnhancedJournal.JournalEntryName'}}">
        <input type="text" style="display:none;" /><!--I can't figure out what's going on, but to avoid Enter causing a page submit a second text needs to be on the page-->
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
        <a class="item" data-tab="picture">{{localize 'MonksEnhancedJournal.Picture'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab description flexcol active" data-group="primary" data-tab="description">
            {{editor target="content" content=content editable=true button=true}}
        </div>
        <div class="tab picture flexrow active" data-group="primary" data-tab="picture">
            <img class="picture-img" src="{{img}}" data-edit="img" onerror="$(this).css({opacity:0});" />
        </div>
    </section>
</div>
