<form class="flexcol journal-subsheet journal-body {{entrytype}}" editable="{{editable}}">
    <header class="header-name flexrow">
        <i class="fas fa-book-open sheet-icon"></i>
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.JournalEntryName'}}">
        <input type="text" style="display:none;" /><!--I can't figure out what's going on, but to avoid Enter causing a page submit a second text needs to be on the page-->
    </header>
    <section class="sheet-body">
        <div class="tab description flexcol active" data-group="primary" data-tab="description">
            {{editor target="content" content=data.content editable=true button=true owner=owner}}
        </div>
    </section>
</form>
