<div class="monks-enhanced-journal flexrow">
    <div class="body flexcol">
        <div class="mainbar flexcol">
            <div class="tab-bar flexrow">
                <div class="tab-row flexrow">
                    {{#each tabs}}
                    <div class="journal-tab{{#if this.active}} active{{/if}}" title="{{this.text}}" data-tabid="{{this.id}}">
                        <div class="tab-content"><span>{{this.text}}</span></div>
                        <div class="close"><i class="fas fa-times"></i></div>
                    </div>
                    {{/each}}
                    <div class="tab-button tab-add"><i class="fas fa-plus"></i></div>
                </div>
            </div>
            <div class="bookmark-bar flexrow">
                <div class="bookmark-button add-bookmark" title="{{localize 'MonksEnhancedJournal.AddBookmark'}}"><i class="fas fa-star"></i></div>
                {{#each bookmarks}}
                <div class="bookmark-button" title="{{this.text}}" data-bookmark-id="{{this.id}}" data-entity-id="{{this.entityId}}"><div><i class="fas {{this.icon}}"></i> {{this.text}}</div></div>
                {{/each}}
            </div>
            <div class="navigation flexrow">
                <div class="nav-button history back-button" title="{{localize 'MonksEnhancedJournal.Back'}}" data-history="back"><i class="fas fa-chevron-left"></i></div>
                <div class="nav-button history forward-button disabled" title="{{localize 'MonksEnhancedJournal.Forward'}}" data-history="forward"><i class="fas fa-chevron-right"></i></div>
                <div class="button-group flexrow" id="journal-buttons">
                    <div class="nav-button search" title="{{localize 'MonksEnhancedJournal.Search'}}"><i class="fas fa-search"></i><input class="search" type="text" name="search-entry" autocomplete="off" /></div>
                    <div class="nav-button show" title="{{localize 'MonksEnhancedJournal.ShowToPlayers'}}"><i class="fas fa-eye"></i></div>
                    <div class="nav-button edit" title="{{localize 'MonksEnhancedJournal.Edit'}}"><i class="fas fa-pencil-alt"></i></div>
                </div>
            </div>
        </div>
        <div class="content">
            <form class="flexcol editable" autocomplete="off">
                {{{content}}}
            </form>
        </div>
    </div>
    <div class="sidebar"></div>
</div>