<form class="flexcol">
    <div class="flexcol make-offer-container">
        <p class="notes" style="flex: 0 0 20px;">Drop an Actor or an Item here to select which character is making the offering</p>
        <div class="document-details">
            <div class="form-group">
                <div class="form-fields" style="flex-wrap:nowrap;">
                    <img class="actor-icon" src="{{actor.img}}" />
                    <h3 class="noborder">{{actor.name}}</h3>
                    <label style="white-space:nowrap;">Private Offer</label>
                    <input type="checkbox" class="private" {{checked private}} />
                </div>
            </div>
        </div>
        {{#if currency}}
        <div class="items-list currency-group">
            <div class="item-header flexrow">
                <h3 class="item-name noborder">{{localize 'MonksEnhancedJournal.Currency'}}</h3>
            </div>
            <div class="flexrow form-fields">
                {{#each currency}}
                <label>{{localize this.name}}</label>
                <input type="text" class="currency-field" name="{{this.id}}" placeholder="0" value="{{lookup @root.coins this.id}}" data-dtype="Number" />
                {{/each}}
            </div>
        </div>
        {{/if}}
        <div class="items-list offering-items">
            <div class="item-header flexrow">
                <h3 class="item-name noborder">{{localize 'MonksEnhancedJournal.Items'}}</h3>
                <div class="item-detail">
                    {{localize 'MonksEnhancedJournal.Quantity'}}
                </div>
                <div class="item-controls"></div>
            </div>
            <ol class="item-list min-height">
                {{#each items}}
                <li class="item offering-item flexrow" data-id="{{this.id}}">
                    <h3 class="item-name noborder flexrow">
                        <img class="item-image" src="{{this.img}}" />
                        {{this.name}}
                    </h3>
                    <div class="item-detail">
                        <div class="offering-qty">{{this.qty}}</div>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveOffering'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{else}}
                <li class="instruction">Drag items here, from a player's inventory, to make an offer</li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="offering-buttons flexrow" style="flex: 0 0 30px;">
        <button type="submit" class="submit-offer"><i class="fas fa-hand-holding-usd"></i> Offer</button>
        <button type="button" class="cancel-offer"><i class="fas fa-times"></i> Cancel</button>
    </div>
</form>
