<form class="objectives" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label for="content">{{localize 'MonksEnhancedJournal.Name'}}</label>
        <div class="form-fields">
            <input type="text" name="title" placeholder="{{localize 'MonksEnhancedJournal.Name'}}" value="{{object.title}}" />
        </div>
    </div>
    <div class="form-group">
        <label for="content">{{localize 'MonksEnhancedJournal.Available'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="available" {{checked object.available}} />
        </div>
    </div>
    <div class="form-group">
        <label for="content">{{localize 'MonksEnhancedJournal.Completed'}}</label>
        <div class="form-fields">
            <input type="checkbox" name="complete" {{checked object.status}} />
        </div>
    </div>
    <div class="form-group">
        <label for="content">{{localize 'MonksEnhancedJournal.Counter'}}</label>
        <div class="form-fields">
            <label for="content">{{localize 'MonksEnhancedJournal.completed'}}</label>
            <input type="number" name="done" value="{{object.done}}" />
            <label for="content">{{localize 'MonksEnhancedJournal.required'}}</label>
            <input type="number" name="required" value="{{object.required}}" />
        </div>
    </div>
    <div style="border:1px solid #000;">
        {{editor enrichedText target="content" editable=true button=true owner=owner}}
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "MonksEnhancedJournal.Update"}}</button>
</form>