<div class="flexcol journal-subsheet organization-container {{entrytype}}" editable="{{editable}}">
    <img class="fullscreen-image" src="{{img}}" />
    <header class="sheet-header journal-header flexrow">
        <div class="sheet-image">
            <div class="magnify-image" title="Show Full Size"><i class="fas fa-search"></i></div>
            <img class="profile" src="{{img}}" data-edit="img" onerror="this.src='modules/monks-enhanced-journal/assets/organization.png'">
        </div>
        <section class="header-details">
            <h1 class="organizationname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'MonksEnhancedJournal.OrganizationName'}}"></h1>
            <div class="form-group">
                <label>{{localize 'MonksEnhancedJournal.Alignment'}}</label>
                <input type="text" name="flags.monks-enhanced-journal.alignment" placeholder="{{localize 'MonksEnhancedJournal.Alignment'}}" value="{{flags.monks-enhanced-journal.alignment}}" />
            </div>
            <div class="form-group">
                <label>{{localize 'MonksEnhancedJournal.Location'}}</label>
                <input type="text" name="flags.monks-enhanced-journal.location" placeholder="{{localize 'MonksEnhancedJournal.Location'}}" value="{{flags.monks-enhanced-journal.location}}" />
            </div>
        </section>
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
        <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab description flexcol active" data-group="primary" data-tab="description">
            {{editor target="content" content=content editable=true button=true}}
        </div>
        <div class="tab notes flexcol" data-group="primary" data-tab="notes">
            <div style="flex: 0 0 20px;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}</div>
            <div>
                <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" style="width: calc(100% - 4px);height: calc(100% - 4px)">{{userdata.notes}}</textarea>
            </div>
        </div>
    </section>
</div>