<form class="flexcol journal-subsheet {{entrytype}}" editable="{{editable}}">
    <div class="person-container">
        <img class="fullscreen-image" src="{{data.img}}" />
        <header class="sheet-header journal-header flexrow">
            <div class="sheet-image">
                <img class="profile" src="{{data.img}}" data-edit="img" onerror="this.src='modules/monks-enhanced-journal/assets/person.png'">
            </div>
            <section class="header-details">
                <h1 class="personname flexrow">
                    <i class="fas fa-user sheet-icon"></i>
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.PersonName'}}">
                </h1>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Role'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.role" value="{{data.flags.monks-enhanced-journal.role}}" />
                </div>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Location'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.location" value="{{data.flags.monks-enhanced-journal.location}}" />
                </div>
            </section>
            {{#if (and actor owner)}}
            <div class="actor-img">
                <div class="person-actor">{{localize 'MonksEnhancedJournal.Actor'}}</div>
                <img src="{{actor.img}}" data-id="{{actor.id}}" data-document="Actor" onerror="$(this).hide();">
                <div style="text-align: center;">{{actor.name}}</div>
            </div>
            {{/if}}
        </header>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            <a class="item" data-tab="details">{{localize 'MonksEnhancedJournal.Details'}}</a>
            <a class="item" data-tab="relationships">{{localize 'MonksEnhancedJournal.Relationships'}}</a>
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body half-size">
            <div class="tab description" data-group="primary" data-tab="description">
                <div class="tab-inner flexcol">
                    {{editor target="content" content=data.content editable=true button=true owner=owner}}
                </div>
            </div>
            <div class="tab details" data-group="primary" data-tab="details">
                <div class="tab-inner flexcol">
                    <div class="details flexrow" style="border-bottom: 2px groove #eeede0;flex-grow:0;">
                        <div class="document-details">
                            <ul>
                                <li {{#unless fields.race.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Race'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.race" value="{{data.flags.monks-enhanced-journal.race}}" />
                                </li>
                                <li {{#unless fields.gender.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Gender'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.gender" value="{{data.flags.monks-enhanced-journal.gender}}" />
                                </li>
                                <li {{#unless fields.age.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Age'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.age" value="{{data.flags.monks-enhanced-journal.age}}" />
                                </li>
                                <li {{#unless fields.pronoun.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Pronoun'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.pronoun" value="{{data.flags.monks-enhanced-journal.pronoun}}" />
                                </li>
                                <li {{#unless fields.life.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.LifeStatus'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.life" value="{{data.flags.monks-enhanced-journal.life}}" />
                                </li>
                                <li {{#unless fields.eyes.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Eyes'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.eyes" value="{{data.flags.monks-enhanced-journal.eyes}}" />
                                </li>
                                <li {{#unless fields.skin.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Skin'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.skin" value="{{data.flags.monks-enhanced-journal.skin}}" />
                                </li>
                                <li {{#unless fields.hair.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Hair'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.hair" value="{{data.flags.monks-enhanced-journal.hair}}" />
                                </li>
                                <li {{#unless fields.profession.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Profession'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.profession" value="{{data.flags.monks-enhanced-journal.profession}}" />
                                </li>
                                <li {{#unless fields.voice.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Voice'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.voice" value="{{data.flags.monks-enhanced-journal.voice}}" />
                                </li>
                                <li {{#unless fields.faction.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Faction'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.faction" value="{{data.flags.monks-enhanced-journal.faction}}" />
                                </li>
                                <li {{#unless fields.height.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Height'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.height" value="{{data.flags.monks-enhanced-journal.height}}" />
                                </li>
                                <li {{#unless fields.weight.value}} style="display:none;" {{/unless}}>
                                    <label>{{localize 'MonksEnhancedJournal.Weight'}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.weight" value="{{data.flags.monks-enhanced-journal.weight}}" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="details flexcol" style="border-bottom: 2px groove #eeede0;">
                        <div class="form-group" {{#unless fields.traits.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Traits'}}</label>
                            <textarea name="flags.monks-enhanced-journal.traits">{{data.flags.monks-enhanced-journal.traits}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.ideals.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Ideals'}}</label>
                            <textarea name="flags.monks-enhanced-journal.ideals">{{data.flags.monks-enhanced-journal.ideals}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.bonds.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Bonds'}}</label>
                            <textarea name="flags.monks-enhanced-journal.bonds">{{data.flags.monks-enhanced-journal.bonds}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.flaws.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Flaws'}}</label>
                            <textarea name="flags.monks-enhanced-journal.flaws">{{data.flags.monks-enhanced-journal.flaws}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.longterm.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.LongTermGoal'}}</label>
                            <textarea name="flags.monks-enhanced-journal.longterm">{{data.flags.monks-enhanced-journal.longterm}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.shortterm.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.ShortTermGoal'}}</label>
                            <textarea name="flags.monks-enhanced-journal.shortterm">{{data.flags.monks-enhanced-journal.shortterm}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.beliefs.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Beliefs'}}</label>
                            <textarea name="flags.monks-enhanced-journal.beliefs">{{data.flags.monks-enhanced-journal.beliefs}}</textarea>
                        </div>
                        <div class="form-group" {{#unless fields.secret.value}} style="display:none;" {{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Secret'}}</label>
                            <textarea name="flags.monks-enhanced-journal.secret">{{data.flags.monks-enhanced-journal.secret}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab relationships" data-group="primary" data-tab="relationships">
                <div class="tab-inner flexcol">
                    <div class="relationships flexrow">
                        <ul class="items-list">
                            {{#each relationships}}
                            <li class="items-header flexrow">
                                <h3 class="item-name flexrow">{{this.name}}</h3>
                                <h3 class="item-name flexrow">{{localize 'MonksEnhancedJournal.Relationship'}}</h3>
                                {{#if @root.owner}}<div class="item-controls flexrow"></div>{{/if}}
                            </li>
                            {{#each documents}}
                            <li class="item flexrow" data-id="{{this.id}}" data-pack="{{this.pack}}" data-container="relationships" data-document="JournalEntry" draggable="false">
                                <div class="item-name flexrow">
                                    <img class="item-image actor-icon" src="{{this.img}}" onerror="this.src='modules/monks-enhanced-journal/assets/{{this.type}}.png'" />
                                    <h4>{{#if this.pack}}<i class="fas fa-atlas" title="From Compendium"></i> {{/if}}{{this.name}}</h4>
                                </div>

                                <div class="item-name item-relationship flexrow">
                                    <input type="text" class="item-field" name="relationships.{{this.id}}.relationship" value="{{this.relationship}}" />
                                </div>

                                {{#if @root.owner}}
                                <div class="item-controls flexrow owner">
                                    <input type="checkbox" name="relationships.{{this.id}}.hidden" {{checked this.hidden}} style="display:none;" />
                                    <a class="item-control item-hide" title="Hide/Show Relationship"><i class="fas fa-eye-slash"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveRelationship'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">Drag a Person, Place, or Organization here to make a relationship</li>
                            {{else}}
                            <li class="instruction">No relationships at the moment</li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    <div style="flex-grow: 0;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}{{#unless hasGM}}<span style="color:darkred;font-weight:bold;"> Cannot edit notes if there's no GM present</span>{{/unless}}</div>
                    <div>
                        <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" class="trim-textarea">{{userdata.notes}}</textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>