<div class="flexcol journal-subsheet person-container {{entrytype}}" editable="{{editable}}">
    <img class="fullscreen-image" src="{{img}}" />
    <header class="sheet-header journal-header flexrow">
        <div class="sheet-image">
            <img class="profile" src="{{img}}" data-edit="img" onerror="this.src='modules/monks-enhanced-journal/assets/person.png'">
        </div>
        <section class="header-details">
            <h1 class="personname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'MonksEnhancedJournal.PersonName'}}"></h1>
            <div class="form-group">
                <label>{{localize 'MonksEnhancedJournal.Role'}}</label>
                <input type="text" name="flags.monks-enhanced-journal.role" placeholder="{{localize 'MonksEnhancedJournal.Role'}}" value="{{flags.monks-enhanced-journal.role}}" />
            </div>
            <div class="form-group">
                <label>{{localize 'MonksEnhancedJournal.Location'}}</label>
                <input type="text" name="flags.monks-enhanced-journal.location" placeholder="{{localize 'MonksEnhancedJournal.Location'}}" value="{{flags.monks-enhanced-journal.location}}" />
            </div>
        </section>
        {{#if flags.monks-enhanced-journal.actor}}
        <div class="actor-img">
            <img src="{{flags.monks-enhanced-journal.actor.img}}" data-id="{{flags.monks-enhanced-journal.actor.id}}" data-entity="Actor" onerror="$(this).hide();">
            <div style="text-align: center;">{{flags.monks-enhanced-journal.actor.name}}</div>
        </div>
        {{/if}}
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="details">{{localize 'MonksEnhancedJournal.Details'}}</a>
        <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
        <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab details flexcol active" data-group="primary" data-tab="details">
            <div class="details flexrow" style="border-bottom: 2px groove #eeede0;">
                <div class="entity-details">
                    <ul>
                        <li {{#unless fields.race.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Race'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.race" value="{{flags.monks-enhanced-journal.race}}" />
                        </li>
                        <li {{#unless fields.gender.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Gender'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.gender" value="{{flags.monks-enhanced-journal.gender}}" />
                        </li>
                        <li {{#unless fields.age.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Age'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.age" value="{{flags.monks-enhanced-journal.age}}" />
                        </li>
                        <li {{#unless fields.eyes.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Eyes'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.eyes" value="{{flags.monks-enhanced-journal.eyes}}" />
                        </li>
                        <li {{#unless fields.skin.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Skin'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.skin" value="{{flags.monks-enhanced-journal.skin}}" />
                        </li>
                        <li {{#unless fields.hair.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Hair'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.hair" value="{{flags.monks-enhanced-journal.hair}}" />
                        </li>
                        <li {{#unless fields.profession.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Profession'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.profession" value="{{flags.monks-enhanced-journal.profession}}" />
                        </li>
                        <li {{#unless fields.voice.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Voice'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.voice" value="{{flags.monks-enhanced-journal.voice}}" />
                        </li>
                        <li {{#unless fields.faction.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Faction'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.faction" value="{{flags.monks-enhanced-journal.faction}}" />
                        </li>
                        <li {{#unless fields.height.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Height'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.height" value="{{flags.monks-enhanced-journal.height}}" />
                        </li>
                        <li {{#unless fields.weight.value}} style="display:none;"{{/unless}}>
                            <label>{{localize 'MonksEnhancedJournal.Weight'}}</label>
                            <input type="text" name="flags.monks-enhanced-journal.weight" value="{{flags.monks-enhanced-journal.weight}}" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="details flexcol" style="border-bottom: 2px groove #eeede0;">
                <div class="form-group" {{#unless fields.traits.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.Traits'}}</label>
                    <textarea name="flags.monks-enhanced-journal.traits">{{flags.monks-enhanced-journal.traits}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.ideals.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.Ideals'}}</label>
                    <textarea name="flags.monks-enhanced-journal.ideals">{{flags.monks-enhanced-journal.ideals}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.bonds.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.Bonds'}}</label>
                    <textarea name="flags.monks-enhanced-journal.bonds">{{flags.monks-enhanced-journal.bonds}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.flaws.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.Flaws'}}</label>
                    <textarea name="flags.monks-enhanced-journal.flaws">{{flags.monks-enhanced-journal.flaws}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.longterm.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.LongTermGoal'}}</label>
                    <textarea name="flags.monks-enhanced-journal.longterm">{{flags.monks-enhanced-journal.longterm}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.shirtterm.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.ShortTermGoal'}}</label>
                    <textarea name="flags.monks-enhanced-journal.shortterm">{{flags.monks-enhanced-journal.shortterm}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.beliefs.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.Beliefs'}}</label>
                    <textarea name="flags.monks-enhanced-journal.beliefs">{{flags.monks-enhanced-journal.beliefs}}</textarea>
                </div>
                <div class="form-group" {{#unless fields.secret.value}} style="display:none;"{{/unless}}>
                    <label>{{localize 'MonksEnhancedJournal.Secret'}}</label>
                    <textarea name="flags.monks-enhanced-journal.secret">{{flags.monks-enhanced-journal.secret}}</textarea>
                </div>
            </div>
        </div>
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            {{editor target="content" content=content editable=true button=true owner=owner}}
        </div>
        <div class="tab notes flexcol" data-group="primary" data-tab="notes">
            <div style="flex: 0 0 20px;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}</div>
            <div>
                <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" style="width: calc(100% - 4px);height: calc(100% - 4px)">{{userdata.notes}}</textarea>
            </div>
        </div>
    </section>
</div>