<form class="flexcol journal-subsheet poi-container {{entrytype}}" editable="{{editable}}">
    <img class="fullscreen-image" src="{{data.img}}" />
    <header class="sheet-header journal-header flexrow">
        <div class="sheet-image">
            <img class="profile" src="{{data.img}}" data-edit="img" onerror="this.src='modules/monks-enhanced-journal/assets/poi.png'">
        </div>
        <section class="header-details">
            <h1 class="poiname flexrow">
                <i class="fas fa-map-marker-alt sheet-icon"></i>
                <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.PointOfInterest'}}" />
            </h1>
            <div class="form-group">
                <label>{{localize 'MonksEnhancedJournal.Location'}}</label>
                <input type="text" name="flags.monks-enhanced-journal.location" placeholder="{{localize 'MonksEnhancedJournal.Location'}}" value="{{data.flags.monks-enhanced-journal.location}}" />
            </div>
        </section>
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
        <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            {{editor target="content" content=data.content editable=true button=true owner=owner}}
        </div>
        <div class="tab notes flexcol" data-group="primary" data-tab="notes">
            <div style="flex: 0 0 20px;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}</div>
            <div>
                <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" style="width: calc(100% - 4px);height: calc(100% - 4px)">{{userdata.notes}}</textarea>
            </div>
        </div>
    </section>
</form>