<div class="monks-enhanced-journal request-item request-sale item-card monks-journal-sheet sheet">
    <div class="flexrow" style="align-items: center;">
        <img src="{{actor.img}}" class="actor-icon" />
        <h4 style="margin-bottom:0px;">{{actor.name}}</h4>
    </div>
    <div class="flexrow" style="align-items: center;">
        <img src="{{shop.img}}" class="shop-icon" />
        <h4 style="margin-bottom:0px;">{{shop.name}}</h4>
    </div>

    <ol class="items-list sell-items">
        <li class="items-header flexrow">
            <h3 class="item-name flexrow">Items</h3>
        </li>
        {{#each items}}
        <li class="item flexrow" data-id="{{this._id}}">
            <img src="{{this.img}}" class="item-icon" />
            <h4>{{this.name}}</h4>
        </li>
        <li class="item flexrow" data-id="{{this._id}}">
            <div class="item-name flexrow">
                <h4>Quantity</h4>
            </div>

            <div class="item-quantity flexrow" style="flex: 0 0 70px;">
                <input class="gm-only" type="number" min="0" max="{{this.maxquantity}}" step="1" data-dtype="Number" name="quantity" value="{{this.quantity}}" style="text-align:right;" />
                <span class="player-only" style="text-align:right;">{{this.quantity}}</span>
            </div>
        </li>
        <li class="item flexrow" data-id="{{this._id}}">
            <div class="item-name flexrow">
                <h4>Price</h4>
            </div>

            <div class="item-price flexrow" style="flex: 0 0 70px;">
                <input class="gm-only" type="text" name="sell" value="{{this.sell}} {{this.currency}}" style="text-align:right;" />
                <span class="player-only" style="text-align:right;">{{this.sell}} {{this.currency}}</span>
            </div>
        </li>
        <li class="item flexrow" data-id="{{this._id}}" style="border-top: 1px solid #FFFFFF;">
            <div class="item-name flexrow">
                <h4 style="font-weight:bold;">Total</h4>
            </div>

            <div class="item-total flexrow">
                <span style="text-align:right;">{{this.total}} {{this.currency}}</span>
            </div>
        </li>
        {{/each}}
    </ol>
    <div class="gm-only flexrow request-buttons">
        <button type="button" class="request-accept"><i class="fas fa-check"></i> {{localize 'MonksEnhancedJournal.Offer'}}</button>
        <button type="button" class="request-reject"><i class="fas fa-times"></i> {{localize 'MonksEnhancedJournal.Reject'}}</button>
    </div>
    <div class="player-only flexrow request-buttons">
        <button type="button" class="request-accept"><i class="fas fa-check"></i> {{localize 'MonksEnhancedJournal.Accept'}}</button>
        <button type="button" class="request-reject"><i class="fas fa-times"></i> {{localize 'MonksEnhancedJournal.Cancel'}}</button>
    </div>
    <footer class="card-footer">
        <span class="request-msg">Shop is considering an offer</span>
    </footer>
</div>
