<div class="monks-enhanced-journal request-item item-card monks-journal-sheet sheet">
    <div class="flexrow">
        <div class="flexcol" style="align-items:center;">
            <img src="{{actor.img}}" class="actor-icon" />
            <h4>{{actor.name}}</h4>
        </div>
        <div class="flexcol" style="align-items:center;">
            <img src="{{shop.img}}" class="shop-icon" />
            <h4>{{shop.name}}</h4>
        </div>
    </div>
    <ol class="items-list reward-items">
        <li class="items-header flexrow">
            <h3 class="item-name flexrow">{{localize 'MonksEnhancedJournal.Items'}}</h3>

            <div class="item-controls item-total">{{localize 'MonksEnhancedJournal.Cost'}}</div>
        </li>

        <ol class="item-list">
            {{#each items}}
            <li class="item flexrow" data-id="{{this.id}}" data-uuid="{{this.uuid}}" draggable="false">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{this.img}}')"></div>
                    <h4 title="{{this.name}}">{{this.name}}</h4>
                </div>

                <div class="item-controls item-total">
                    <input class="gm-only" type="text" name="total" value="{{this.price}}" style="text-align:center;" />
                    <span class="player-only">{{this.price}}</span>
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
    <div class="gm-only flexrow request-buttons">
        <button type="button" class="request-accept"><i class="fas fa-check"></i> {{localize 'MonksEnhancedJournal.Accept'}}</button>
        <button type="button" class="request-reject"><i class="fas fa-times"></i> {{localize 'MonksEnhancedJournal.Reject'}}</button>
    </div>
    <footer class="card-footer">
        <span class="request-msg"></span>
        <span class="request-warning"></span>
    </footer>
</div>
