<form class="select-player flexcol" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="flexrow" style="padding-bottom: 10px;border-bottom: 2px groove #eeede0"><span style="flex: 0 0 75px;">Sending: </span><span style="font-weight:bold;">{{object.name}}</span></div>
    <div class="flexcol options">
        <div class="flexrow" {{#unless picchoice}} style="display:none;" {{/unless}}><span style="line-height: 25px;">Show just the picture</span><input type="checkbox" class="pic-select" {{checked showpic}} style="flex:0 0 25px" /></div>
        <div class="flexrow"><span style="line-height: 25px;">{{localize "MonksEnhancedJournal.ChangePermissions"}}</span><input type="checkbox" class="update-permission" {{checked updatepermission}} style="flex:0 0 25px" /></div>
    </div>
    <ul class="user-list">
        {{#each users}}
        <li class="flexrow{{#unless this.active}} inactive{{/unless}}" data-user-id="{{this.id}}">
            <div style="line-height: 25px;">{{this.name}}</div>
            <div style="flex:0 0 30px;"><input class="user-select" type="checkbox" {{checked this.selected}} /></div>
        </li>
        {{/each}}
    </ul>
    <div class="flexrow">
        <button type="submit" name="showall" value="1"><i class="far fa-save"></i> {{localize "MonksEnhancedJournal.ShowAll"}}</button>
        <button type="submit" name="show" value="1"><i class="far fa-save"></i> {{localize "MonksEnhancedJournal.Show"}}</button>
    </div>
</form>