<form class="flexcol journal-subsheet {{entrytype}}{{#if isGM}} gm{{/if}}{{#if owner}} owner{{/if}}" editable="{{editable}}">
    <div class="shop-container">
        <img class="fullscreen-image" src="{{data.img}}" />
        <header class="sheet-header journal-header flexrow">
            <div class="sheet-image">
                <img class="profile" src="{{data.img}}" data-edit="img" onerror="this.src='modules/monks-enhanced-journal/assets/shop.png'">
            </div>
            <section class="header-details">
                <h1 class="shopname flexrow">
                    <i class="fas fa-dolly-flatbed sheet-icon"></i>
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.ShopName'}}">
                </h1>
                <div class="form-group">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.ShopType'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.shoptype" value="{{data.flags.monks-enhanced-journal.shoptype}}" />
                </div>
                <div class="form-group">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.Location'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.location" value="{{data.flags.monks-enhanced-journal.location}}" />
                </div>
                <div class="form-group owner-only">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.PlayerPurchasing'}}</label>
                    <select class="shop-state" name="flags.monks-enhanced-journal.purchasing" style="font-size: inherit; font-family: inherit; height: 26px; margin: 0px; ">
                        {{ selectGroups purchaseOptions selected=data.flags.monks-enhanced-journal.purchasing localize=true }}
                    </select>
                </div>
                {{#unless owner}}
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.State'}}</label>
                    <div>{{#if hideitems}}{{localize 'MonksEnhancedJournal.Closed'}}{{else}}{{localize 'MonksEnhancedJournal.Open'}}{{/if}}</div>
                </div>
                {{/unless}}
            </section>
            {{#if actor}}
            <div class="actor-img">
                <div class="shop-owner">{{localize 'MonksEnhancedJournal.ShopOwner'}}</div>
                <img src="{{actor.img}}" data-id="{{actor.id}}" data-document="Actor" onerror="$(this).hide();">
                <div style="text-align: center;font-size:12px;">{{actor.name}}</div>
            </div>
            {{/if}}
        </header>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            <a class="item" data-tab="items">{{localize 'MonksEnhancedJournal.Items'}}</a>
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body half-size">
            <div class="tab description flexcol active" data-group="primary" data-tab="description">
                {{editor target="content" content=data.content editable=true button=true owner=owner}}
            </div>
            <div class="tab items flexcol active" data-group="primary" data-tab="items">
                <ol class="items-list shop-items">
                    <li class="items-header flexrow">
                        <h3 class="item-name flexrow">{{localize 'MonksEnhancedJournal.Items'}}</h3>
                        <div class="item-controls item-quantity">{{localize 'MonksEnhancedJournal.Qty'}}</div>
                        <div class="item-controls item-price">{{localize 'MonksEnhancedJournal.Price'}}</div>
                        <div class="item-controls item-cost owner-only">{{localize 'MonksEnhancedJournal.Cost'}}</div>
                        {{#if showrequest}}<div class="item-controls flexrow"></div>{{/if}}
                        <div class="item-controls flexrow owner-only">
                            <a class="item-control roll-table" title="Populate from Rolltable"><i class="fas fa-th-list"></i></a>
                            <a class="item-control adjust-price" title="Adjust all prices"><i class="fas fa-donate"></i></a>
                            <a class="item-control clear-items" title="Clear all items"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>

                    <ol class="items-list">
                        {{#unless hideitems}}
                        {{#each groups}}
                        <li class="items-header flexrow">
                            <h3 class="item-name flexrow">{{localize this.name}}</h3>
                        </li>
                        <ul class="item-list">
                            {{#each this.items}}
                            <li class="item flexrow{{#if (eq this.quantity 0)}} empty{{/if}}" data-id="{{this.id}}" data-container="items" data-document="Item" draggable="false">
                                <div class="item-name flexrow">
                                    <div class="item-image item-icon" style="background-image: url('{{this.img}}')"></div>
                                    <h4>{{this.name}}</h4>
                                </div>

                                <div class="item-controls item-quantity">
                                    <input type="number" min="0" name="items.{{this.id}}.data.quantity{{@root.valStr}}" placeholder="&infin;" value="{{this.quantity}}" style="text-align:center;" />
                                </div>

                                <div class="item-controls item-price owner-only" style="text-align:center;">
                                    <input type="text" name="items.{{this.id}}.data.price{{@root.valStr}}" value="{{this.price}}" style="text-align:center;" />
                                </div>

                                <div class="item-controls item-cost">
                                    <input type="text" name="items.{{this.id}}.data.cost" value="{{this.cost}}" style="text-align:center;" />
                                </div>

                                {{#if @root.showrequest}}
                                <div class="item-controls item-request" style="text-align:center;">
                                    <a class="item-control request-item" {{#if (or this.lock (eq this.quantity 0))}} disabled{{/if}}><i class="fas {{this.icon}}"></i> {{this.text}}</a>
                                </div>
                                {{/if}}

                                <div class="item-controls flexrow owner-only">
                                    <input type="checkbox" name="items.{{this.id}}.lock" {{checked this.lock}} style="display: none;" />
                                    <a class="item-control item-action" data-action="lock" title="Lock Item"><i class="fas fa-lock"></i></a>
                                    <input type="checkbox" name="items.{{this.id}}.hide" {{checked this.hide}} style="display:none;" />
                                    <a class="item-control item-action" data-action="hide" title="Hide/Show Item"><i class="fas fa-eye-slash"></i></a>
                                    <a class="item-control item-edit" title="{{localize 'MonksEnhancedJournal.EditItem'}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <li class="instruction">Drag Items here to add them to the shop</li>
                        {{/each}}
                        {{else}}
                        <li class="instruction">This shop is currently closed</li>
                        {{/unless}}
                    </ol>
                </ol>
            </div>
            <div class="tab notes flexcol" data-group="primary" data-tab="notes">
                <div style="flex: 0 0 20px;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}</div>
                <div>
                    <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" style="width: calc(100% - 4px);height: calc(100% - 4px)">{{userdata.notes}}</textarea>
                </div>
            </div>
        </section>
    </div>
</form>