<form class="flexcol journal-subsheet {{entrytype}}{{#if isGM}} gm{{/if}}{{#if owner}} owner{{/if}}" editable="{{editable}}">
    <div class="shop-container">
        <header class="sheet-header journal-header flexrow">
            <div class="sheet-image">
                <img class="profile nopopout" src="{{data.src}}" data-edit="src" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/shop.png' }">
            </div>
            <section class="header-details">
                <h1 class="shopname flexrow">
                    <i class="fas {{data.icon}} sheet-icon"></i>
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.ShopName'}}">
                    {{#if sound.audiofile}}
                    <button type="button" class="play-journal-sound{{#if sound.playing}} active{{/if}}">
                        <i class="fas {{#if sound.playing}}fa-volume-up{{else}}fa-volume-off{{/if}}"></i>
                    </button>
                    {{/if}}
                </h1>
                <div class="form-group">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.ShopType'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.shoptype" value="{{data.flags.monks-enhanced-journal.shoptype}}" />
                </div>
                <div class="form-group">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.Location'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.location" value="{{data.flags.monks-enhanced-journal.location}}" />
                </div>
                <div class="form-group owner-only">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.PlayerPurchasing'}}</label>
                    <select class="shop-state" name="flags.monks-enhanced-journal.purchasing" style="font-size: inherit; font-family: inherit; height: calc(var(--font-size-20) + 6); margin: 0px; ">
                        {{ selectGroups purchaseOptions selected=data.flags.monks-enhanced-journal.purchasing localize=true }}
                    </select>
                </div>
                <div class="form-group owner-only">
                    <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.PlayerSelling'}}</label>
                    <select class="shop-state" name="flags.monks-enhanced-journal.selling" style="font-size: inherit; font-family: inherit; height: calc(var(--font-size-20) + 6); margin: 0px; ">
                        {{ selectOptions sellingOptions selected=data.flags.monks-enhanced-journal.selling localize=true }}
                    </select>
                </div>
                {{#unless owner}}
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.State'}}</label>
                    <div>{{#if hideitems}}{{localize 'MonksEnhancedJournal.Closed'}}{{else}}{{localize 'MonksEnhancedJournal.Open'}}{{/if}}</div>
                </div>
                {{/unless}}
            </section>
            {{#if (and actor canViewActor)}}
            <div class="actor-img">
                <div class="shop-owner">{{localize 'MonksEnhancedJournal.ShopOwner'}}</div>
                <img src="{{actor.img}}" data-uuid="{{actor.uuid}}" data-document="Actor" onerror="$(this).hide();">
                <div style="text-align: center;font-size:12px;">{{actor.name}}</div>
            </div>
            {{/if}}
        </header>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            <a class="item{{#if has.items}} hasitems{{/if}}" data-tab="items">{{localize 'MonksEnhancedJournal.Items'}}</a>
            <a class="item{{#if has.relationships}} hasitems{{/if}}" data-tab="relationships">{{localize 'MonksEnhancedJournal.Relationships'}}</a>
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body half-size">
            <div class="tab description active" data-group="primary" data-tab="description">
                <div class="tab-inner flexcol">
                    {{editor enrichedText target="text.content" editable=true button=true owner=owner}}
                </div>
            </div>
            <div class="tab items active" data-group="primary" data-tab="items">
                <div class="tab-inner flexcol">
                    {{#if nocharacter}}
                    <div class="no-character-alert">You don't have a selected default character, and won't be able to automatically purchase items.  Please select a character <a class="open-player-config">here</a></div>
                    {{/if}}
                    <ol class="items-list shop-items">
                        <li class="items-header flexrow">
                            <h3 class="item-name noborder flexrow" sort="name">{{localize 'MonksEnhancedJournal.Items'}}</h3>
                            {{#if @root.showrarity}}<div class="item-controls item-rarity">{{localize 'MonksEnhancedJournal.Rarity'}}</div>{{/if}}
                            <div class="item-controls item-consumable owner-only">{{localize 'MonksEnhancedJournal.Consume'}}</div>
                            <div class="item-controls item-quantity" sort="quantity">{{localize 'MonksEnhancedJournal.Qty'}}</div>
                            <div class="item-controls item-price" sort="price">{{localize 'MonksEnhancedJournal.Price'}}</div>
                            <div class="item-controls item-cost owner-only" sort="cost">{{localize 'MonksEnhancedJournal.Cost'}}</div>
                            {{#if showrequest}}<div class="item-controls flexrow"></div>{{/if}}
                            <div class="item-controls flexrow owner-only">
                                <a class="item-control roll-table" title="{{localize 'MonksEnhancedJournal.PopulateFromRollTable'}}"><i class="fas fa-th-list"></i></a>
                                <a class="item-control adjust-price" title="{{localize 'MonksEnhancedJournal.AdjustAllPrices'}}"><i class="fas fa-donate"></i></a>
                                <a class="item-control clear-items" title="{{localize 'MonksEnhancedJournal.ClearAllItems'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>

                        <ol class="item-list">
                            {{#unless hideitems}}
                            {{#each groups}}
                            {{#if this.id}}
                            <li class="items-header flexrow{{#if this.collapsed}} collapsed{{/if}}" data-id="{{this.id}}">
                                <h3 class="item-name noborder flexrow">{{localize this.name}} <span class="item-count">({{this.items.length}} items)</span></h3>
                            </li>
                            {{/if}}
                            <ul class="item-list" {{#if this.collapsed}} style="display: none;" {{/if}}>
                                {{#each this.items}}
                                <li class="item flexrow{{#if (eq this.quantity 0)}} empty{{/if}}" data-id="{{this.id}}" data-container="items" data-document="Item" draggable="false">
                                    <div class="item-name flexrow">
                                        <div class="item-image item-icon" style="background-image: url('{{this.img}}')"></div>
                                        <h4>{{this.name}}{{#if (gt this.qtyof 1)}} <span class="groups-of">(in groups of {{this.qtyof}})</span>{{/if}}</h4>
                                    </div>

                                    {{#if @root.showrarity}}
                                    <div class="item-controls item-rarity">
                                        <span style="text-transform: capitalize;">{{this.rarity}}</span>
                                    </div>
                                    {{/if}}

                                    <div class="item-controls item-consumable owner-only" style="text-align: center;flex: 0 0 70px;">
                                        <input type="checkbox" name="items.{{this.id}}.flags.monks-enhanced-journal.consumable" {{checked this.consumable}} style="display: none;" />
                                        <a class="item-control item-action" data-action="consumable" title="{{localize 'MonksEnhancedJournal.Consumable'}}"><i class="fas fa-utensils"></i></a>
                                    </div>

                                    <div class="item-controls item-quantity">
                                        <input type="number" min="0" name="items.{{this.id}}.flags.monks-enhanced-journal.quantity" placeholder="&infin;" value="{{this.quantity}}" style="text-align:center;" />
                                    </div>

                                    <div class="item-controls item-price owner-only" style="text-align:center;">
                                        <input type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.price" value="{{this.price}}" style="text-align:center;" />
                                    </div>

                                    <div class="item-controls item-cost">
                                        <input type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.cost" value="{{this.cost}}" style="text-align:center;" />
                                    </div>

                                    {{#if @root.showrequest}}
                                    <div class="item-controls item-request" style="text-align:center;">
                                        <a class="item-control request-item" {{#if (or this.lock (eq this.quantity 0))}} disabled{{/if}}><i class="fas {{this.icon}}"></i> {{this.text}}</a>
                                    </div>
                                    {{/if}}

                                    <div class="item-controls flexrow owner-only">
                                        <input type="checkbox" name="items.{{this.id}}.flags.monks-enhanced-journal.lock" {{checked this.lock}} style="display: none;" />
                                        <a class="item-control item-action" data-action="lock" title="{{localize 'MonksEnhancedJournal.LockItem'}}"><i class="fas fa-lock"></i></a>
                                        <input type="checkbox" name="items.{{this.id}}.flags.monks-enhanced-journal.hide" {{checked this.hide}} style="display:none;" />
                                        <a class="item-control item-action" data-action="hide" title="{{localize 'MonksEnhancedJournal.HideShowItem'}}"><i class="fas fa-eye-slash"></i></a>
                                        <a class="item-control item-edit" title="{{localize 'MonksEnhancedJournal.EditItem'}}"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragItemsToAddToShop'}}</li>
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoItemsAtTheMoment'}}</li>
                            {{/if}}
                            {{/each}}
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.ShopCurrentlyClosed'}}</li>
                            {{/unless}}
                        </ol>
                    </ol>
                </div>
            </div>
            <div class="tab relationships" data-group="primary" data-tab="relationships">
                <div class="tab-inner flexcol">
                    <div class="relationships flexrow">
                        <ul class="items-list">
                            {{#each relationships}}
                            <li class="items-header flexrow">
                                <h3 class="item-name noborder flexrow">{{this.name}}</h3>
                                <h3 class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Relationship'}}</h3>
                                {{#if @root.owner}}<div class="item-controls flexrow"></div>{{/if}}
                            </li>
                            {{#each documents}}
                            <li class="item flexrow" data-id="{{this.id}}" data-uuid="{{this.uuid}}" data-container="relationships" data-document="JournalEntry" draggable="false">
                                <div class="item-name flexrow">
                                    <img class="item-image actor-icon" src="{{this.img}}" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/{{this.type}}.png' }" />
                                    <h4><a>{{#if this.pack}}<i class="fas fa-atlas" title="{{localize 'MonksEnhancedJournal.FromCompendium'}}"></i> {{/if}}{{this.name}}</a></h4>
                                </div>

                                <div class="item-name item-relationship flexrow">
                                    <input type="text" class="item-field" name="relationships.{{this.id}}.relationship" value="{{this.relationship}}" />
                                </div>

                                {{#if @root.owner}}
                                <div class="item-controls flexrow owner">
                                    <input type="checkbox" name="relationships.{{this.id}}.hidden" {{checked this.hidden}} style="display:none;" />
                                    <a class="item-control item-hide" title="{{localize 'MonksEnhancedJournal.HideShowRelationship'}}"><i class="fas fa-eye-slash"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveRelationship'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragToMakeRelationship'}}</li>
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRelationshipsAtTheMoment'}}</li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    <div style="flex-grow: 0;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}{{#unless hasGM}}<span style="color:darkred;font-weight:bold;"> {{localize 'MonksEnhancedJournal.msg.CannotEditNotesWithoutGM'}}</span>{{/unless}}</div>
                    <div>
                        <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" class="trim-textarea">{{userdata.notes}}</textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>