<form class="slide-config monks-journal-sheet sheet" autocomplete="off" onsubmit="event.preventDefault();">
    <header class="form-header">
        <h3><i class="far fa-image"></i> {{localize 'MonksEnhancedJournal.Details'}}</h3>
    </header>
    <div class="form-group">
        <label for="img">{{localize 'MonksEnhancedJournal.SlideImage'}}</label>
        <div class="form-fields">
            {{ filePicker type="image" target="img" }}
            <input class="image" type="text" name="img" placeholder="path/image.png" value="{{object.img}}">
        </div>
    </div>
    <div class="form-group">
        <label for="sizing">{{localize 'MonksEnhancedJournal.Sizing'}}</label>
        <div class="form-fields">
            <select name="sizing">
                {{ selectOptions sizingOptions selected=object.sizing localize=true }}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="background.color">{{localize 'MonksEnhancedJournal.BackgroundColour'}}</label>
        <div class="form-fields">
            <input type="text" name="background.color" data-dtype="String" value="{{object.background.color}}">
            <input type="color" data-edit="background.color" value="{{object.background.color}}">
        </div>
    </div>
    <header class="form-header">
        <h3><i class="far fa-image"></i> {{localize 'MonksEnhancedJournal.Text'}}</h3>
    </header>
    <ol class="items-list slide-text-list" style="overflow:visible;flex: 0 0 100px;">
        <li class="items-header flexrow">
            <h3 class="item-name slide-name flexrow"></h3>
            <div class="item-controls"></div>
            <div class="item-controls flexrow">
                <a class="item-control text-create" title="Add Text">
                    <i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}
                </a>
            </div>
        </li>

        <ol class="item-list" style="overflow:auto;">
            {{#each object.texts}}
            <li class="item flexrow" data-id="{{this.id}}">
                <div class="item-name flexrow">
                    <h4>{{this.text}}</h4>
                </div>

                <div class="item-controls">
                </div>

                <div class="item-controls flexrow">
                    <a class="item-control text-edit" title="Edit Text"><i class="fas fa-edit"></i></a>
                    <a class="item-control text-delete" title="Delete Text"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
    <header class="form-header">
        <h3><i class="far fa-image"></i> {{localize 'MonksEnhancedJournal.Transition'}}</h3>
    </header>
    <div class="form-group">
        <label for="transition.duration">{{localize 'MonksEnhancedJournal.Duration'}}</label>
        <div class="form-fields">
            <input type="number" name="transition.duration" placeholder="seconds" value="{{object.transition.duration}}">
        </div>
    </div>
    <div class="form-group">
        <label for="transition.effect">{{localize 'MonksEnhancedJournal.Effect'}}</label>
        <div class="form-fields">
            <select name="transition.effect">
                <option value="fade">{{localize 'MonksEnhancedJournal.Fade'}}</option>
            </select>
        </div>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "MonksEnhancedJournal.Update"}}</button>
</form>