<form class="flexcol">
    <div class="flexcol transfer-container">
        <p class="notes" style="flex: 0 0 20px;">A positive number will transfer to the character, a negative number will transfer from that character</p>
        <div class="document-details" style="flex-grow: 0;">
            <div class="form-group">
                <div class="form-fields" style="flex-wrap:nowrap;">
                    <img class="actor-icon" src="{{actor.img}}" />
                    <h3 class="noborder">{{actor.name}}</h3>
                </div>
            </div>
        </div>
        <div class="items-list">
            <div class="item-header flexrow">
                <h3 class="item-name noborder">{{localize 'MonksEnhancedJournal.Currency'}}</h3>
                <div class="item-detail">
                    {{localize 'MonksEnhancedJournal.Quantity'}}
                </div>
                <div class="item-controls">
                    <a class="item-control clear-items" title="{{localize 'MonksEnhancedJournal.ClearAllItems'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <ol class="item-list">
                {{#each currency}}
                <li class="item offering-item flexrow" data-id="{{this.id}}">
                    <h3 class="item-name noborder flexrow">
                        {{localize this.name}}
                    </h3>
                    <div class="item-detail">
                        <input type="text" class="currency-field" name="{{this.id}}" placeholder="0" value="{{lookup @root.coins this.id}}" data-dtype="Number" />
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.Clear'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="offering-buttons flexrow" style="flex: 0 0 30px;">
        <button type="submit" class="submit-offer"><i class="fas fa-hand-holding-usd"></i> Transfer</button>
        <button type="button" class="cancel-offer"><i class="fas fa-times"></i> Cancel</button>
    </div>
</form>
