<form class="flexcol journal-subsheet {{entrytype}}{{#if isGM}} gm{{/if}}{{#if owner}} owner{{/if}}" editable="{{editable}}">
    <div class="sheet-container detailed auctioneer-container flexcol">
        <header class="journal-sheet-header flexrow">
            <div class="sheet-image">
                <img class="profile nopopout" src="{{data.src}}" data-edit="src" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/auctioneer.png' }">
            </div>
            <section class="header-details">
                <h1 class="auctioneername header-name flexrow">
                    <i class="fas {{data.icon}} sheet-icon"></i>
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.AuctioneerName'}}">
                    {{#if hasRollTables}}
                    <button type="button" class="generate-name" data-tooltip="Generate Name">
                        <i class="fas fa-comment-lines" style="margin-left: 2px; margin-right: 1px;"></i>
                    </button>
                    {{/if}}
                    {{#if sound.audiofile}}
                    <button type="button" class="play-journal-sound{{#if sound.playing}} active{{/if}}">
                        <i class="fas {{#if sound.playing}}fa-volume-up{{else}}fa-volume-off{{/if}}"></i>
                    </button>
                    {{/if}}
                </h1>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.AuctioneerType'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.auctioneertype" value="{{data.flags.monks-enhanced-journal.auctioneertype}}" />
                </div>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Location'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.location" value="{{data.flags.monks-enhanced-journal.location}}" />
                </div>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.HoursOfOperation'}}</label>
                    <div>{{hours}}{{#if open}}{{localize 'MonksEnhancedJournal.Open'}}{{else}}{{localize 'MonksEnhancedJournal.Closed'}}{{/if}}</div>
                </div>
            </section>
            {{#if (and actor canViewActor)}}
            <section class="flexcol actor-img-container">
                <div class="actor-img">
                    <img src="{{actor.img}}" data-uuid="{{actor.uuid}}" data-document="Actor" onerror="$(this).hide();">
                </div>
                <div class="actor-img-text">{{actor.name}}</div>
            </section>
            {{/if}}
        </header>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            {{#if owner}}
            <a class="item" data-tab="details">{{localize 'MonksEnhancedJournal.Details'}}</a>
            {{/if}}
            <a class="item{{#if has.items}} hasitems{{/if}}" data-tab="items">{{localize 'MonksEnhancedJournal.Items'}}</a>
            <a class="item{{#if has.relationships}} hasitems{{/if}}" data-tab="relationships">{{localize 'MonksEnhancedJournal.Relationships'}}</a>
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body">
            <div class="tab description active" data-group="primary" data-tab="description">
                <div class="tab-inner flexcol">
                    {{editor enrichedText target="text.content" editable=true button=true owner=owner}}
                </div>
            </div>
            {{#if owner}}
            <div class="tab details" data-group="primary" data-tab="details">
                <div class="tab-inner flexcol" style="overflow-y: hidden !important;">
                    <div class="flexcol details-section no-border" style="flex-grow:0;margin-bottom: 8px;width: 100%;align-content: center;">
                        <div class="form-group owner-only">
                            <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.Hours'}}</label>
                            <input type="text" class="time-field" name="opening" value="{{opening}}" style="text-align: right;" /><span style="flex: 0 0 50px;text-align:center;">to</span><input type="text" class="time-field" name="closing" value="{{closing}}" style="text-align: right;" />
                        </div>
                        <div class="form-group owner-only">
                            <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.AuctioneerOpen'}}</label>
                            <select class="auctioneer-state" name="flags.monks-enhanced-journal.state">
                                {{ selectOptions openOptions selected=data.flags.monks-enhanced-journal.state localize=true }}
                            </select>
                        </div>
                        <div class="form-group owner-only">
                            <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.AutoOpen'}}</label>
                            <input type="checkbox" name="flags.monks-enhanced-journal.autoopen" {{checked data.flags.monks-enhanced-journal.autoopen}} />
                        </div>
                        <div class="form-group owner-only">
                            <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.PlayerPurchasing'}}</label>
                            <select class="auctioneer-state" name="flags.monks-enhanced-journal.purchasing">
                                {{ selectOptions purchaseOptions selected=data.flags.monks-enhanced-journal.purchasing localize=true }}
                            </select>
                        </div>
                        <!--
                        <div class="form-group owner-only">
                            <label style="background: none; border: none;">{{localize 'MonksEnhancedJournal.PlayerSelling'}}</label>
                            <select class="auctioneer-state" name="flags.monks-enhanced-journal.selling">
                                {{ selectOptions sellingOptions selected=data.flags.monks-enhanced-journal.selling localize=true }}
                            </select>
                        </div>
                        -->
                    </div>
                    <div class="flexcol" style="overflow: hidden;">
                        <div class="items-list auctioneer-items">
                            <div class="item-header flexrow">
                                <h3 class="item-name noborder flexrow">Name</h3>
                                <h3 class="item-name noborder flexrow">Item</h3>
                                <h3 class="item-detail noborder flexrow" style="justify-content: center;">Quantity</h3>
                                <h3 class="item-detail noborder flexrow" style="justify-content: center;">Price</h3>
                                <h3 class="item-detail noborder flexrow">Type</h3>
                                <h3 class="item-detail noborder flexrow">Date <a class="item-control clear-log" style="position: absolute; right: 2px;" title="{{localize 'MonksEnhancedJournal.ClearAllItems'}}"><i class="fas fa-trash"></i></a></h3>
                            </div>
                            <ol class="item-list">
                                {{#each log}}
                                <li class="item flexrow" data-id="{{this.id}}" data-uuid="{{this.uuid}}" data-container="relationships" data-document="JournalEntry" draggable="false">
                                    <div class="item-name">
                                        <h4>{{this.actor}}</h4>
                                    </div>

                                    <div class="item-name">
                                        <h4>{{this.item}}</h4>
                                    </div>
                                    
                                    <div class="item-detail" style="text-align: center;">
                                        <h4>{{this.quantity}}</h4>
                                    </div>

                                    <div class="item-detail" style="text-align: center;">
                                        <h4>{{this.price}}</h4>
                                    </div>

                                    <div class="item-detail">
                                        <h4>{{this.type}}</h4>
                                    </div>
                                    
                                    <div class="item-detail">
                                        <h4>{{this.time}}</h4>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="tab items active" data-group="primary" data-tab="items">
                <div class="tab-inner flexcol">
                    {{#if nocharacter}}
                    <div class="no-character-alert">You don't have a selected default character, and won't be able to automatically purchase items.  Please select a character <a class="open-player-config">here</a></div>
                    {{/if}}
                    <div class="items-list auctioneer-items">
                        <div class="item-header flexrow">
                            <h3 class="item-name noborder flexrow" sort="name">{{localize 'MonksEnhancedJournal.Items'}}</h3>
                            {{#if @root.showrarity}}<div class="item-detail item-rarity">{{localize 'MonksEnhancedJournal.Rarity'}}</div>{{/if}}
                            
                            <div class="item-detail item-consumable owner-only">{{localize 'MonksEnhancedJournal.Consume'}}</div>
                            <div class="item-detail item-quantity" sort="quantity">{{localize 'MonksEnhancedJournal.Qty'}}</div>
                            <div class="item-detail item-price" sort="price">{{localize 'MonksEnhancedJournal.Price'}}</div>
                            <div class="item-detail item-cost owner-only" sort="cost">{{localize 'MonksEnhancedJournal.Cost'}} <i class="fas fa-question-circle" data-tooltip="Cost is the value that will be removed from the players currency"></i></div>
                            
                            <!--
                            <div class="item-detail item-bid-price-current">The current top bid price of start</div>
                            <div class="item-detail item-bid-date-start">The bis tart date</div>
                            <div class="item-detail item-bid-date-end">The bid end date</div>
                            {{#if isGM}}<div class="item-detail item-bid-username">The current top bidder</div>{{/if}}
                            -->
                            {{#if @root.showrequest}}<div class="item-controls flexrow" buttons="4"></div>{{/if}}

                            <div class="item-controls flexrow owner-only" buttons="4">
                                <a class="item-control roll-table" title="{{localize 'MonksEnhancedJournal.PopulateFromRollTable'}}"><i class="fas fa-th-list"></i></a>
                                <a class="item-control adjust-price" title="{{localize 'MonksEnhancedJournal.AdjustAllPrices'}}"><i class="fas fa-donate"></i></a>
                                <a class="item-control clear-items" title="{{localize 'MonksEnhancedJournal.ClearAllItems'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>

                        <ol class="item-list">
                            {{#unless hideitems}}
                            {{#each groups}}
                            {{#if this.id}}
                            <li class="item-header collapsible flexrow{{#if this.collapsed}} collapsed{{/if}}" data-id="{{this.id}}">
                                <h3 class="item-name noborder flexrow">{{localize this.name}} <span class="collapse-text item-count">({{this.items.length}} items)</span></h3>
                            </li>
                            {{/if}}
                            <li {{#if this.collapsed}} style="display: none;" {{/if}}>
                                <ul>
                                    {{#each this.items}}
                                    <li class="item flexrow{{#if (eq this.quantity 0)}} empty{{/if}}" data-id="{{this.id}}" data-container="items" data-document="Item" draggable="false">
                                        <div class="item-name flexrow">
                                            <div class="item-image item-icon" style="background-image: url('{{this.img}}')"></div>
                                            <h4>{{this.name}}{{#if (gt this.qtyof 1)}} <span class="highlight-text groups-of">(in groups of {{this.qtyof}})</span>{{/if}}</h4>
                                        </div>

                                        {{#if @root.showrarity}}
                                        <div class="item-detail item-rarity">
                                            <span style="text-transform: capitalize;">{{this.rarity}}</span>
                                        </div>
                                        {{/if}}
                                        
                                        <div class="item-detail item-consumable owner-only">
                                            <input type="checkbox" name="items.{{this.id}}.flags.monks-enhanced-journal.consumable" {{checked this.consumable}} style="display: none;" />
                                            <a class="item-control item-action" style="width: 100%;" data-action="consumable" title="{{localize 'MonksEnhancedJournal.Consumable'}}"><i class="fas fa-utensils"></i></a>
                                        </div>

                                        <div class="item-detail item-quantity">
                                            <input type="number" min="0" name="items.{{this.id}}.flags.monks-enhanced-journal.quantity" placeholder="&infin;" value="{{this.quantity}}" style="text-align:center;" />
                                        </div>

                                        <div class="item-detail item-price owner-only">
                                            <input type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.price" value="{{this.price}}" style="text-align:center;" />
                                        </div>

                                        <div class="item-detail item-cost">
                                            <input type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.cost" value="{{this.cost}}" style="text-align:center;" />
                                        </div>
                                        
                                        <!-- 
                                        {{#if isGM}}        
                                            <div class="item-detail item-bid-price-current owner-only">
                                                <input type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.bid-price-current" value="{{this.bid-price-current}}" style="text-align:center;" />
                                            </div>                                                                     
                                        {{else}}                                      
                                            <div class="item-detail item-bid-price-current">
                                                <input readonly="true" type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.bid-price-current" value="{{this.bid-price-current}}" style="text-align:center;" />
                                            </div>
                                        {{/if}}

                                        <div class="item-detail item-bid-date-start owner-only">
                                            <input type="date" name="items.{{this.id}}.flags.monks-enhanced-journal.bid-date-start" value="{{this.bid-date-start}}" style="text-align:center;" />
                                        </div>
                                        
                                        <div class="item-detail item-bid-date-end owner-only">
                                            <input type="date" name="items.{{this.id}}.flags.monks-enhanced-journal.bid-date-end" value="{{this.bid-date-end}}" style="text-align:center;" />
                                        </div>
                                        
                                        {{#if isGM}}        
                                            <div class="item-detail item-bid-username owner-only">
                                                <input type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.bid-username" value="{{this.bid-username}}" style="text-align:center;" />
                                            </div>                                                                    
                                        {{else}}                                      
                                            <div class="item-detail item-bid-username owner-only">
                                                <input readonly="true" type="text" name="items.{{this.id}}.flags.monks-enhanced-journal.bid-username" value="{{this.bid-username}}" style="text-align:center;" />
                                            </div>
                                        {{/if}}
                                        -->
                                        {{#if @root.showrequest }}
                                        <div class="item-controls item-request" style="text-align:center;flex: 0 0 90px;">
                                            <a class="item-control text request-item" {{#if (or this.lock (eq this.quantity 0))}} disabled{{/if}}><i class="fas {{this.icon}}"></i> Made a bid</a>
                                        </div>
                                        {{/if}}

                                        <div class="item-controls flexrow owner-only" buttons="4">
                                            <input type="checkbox" name="items.{{this.id}}.flags.monks-enhanced-journal.lock" {{checked this.lock}} style="display: none;" />
                                            <a class="item-control item-action" data-action="lock" title="{{localize 'MonksEnhancedJournal.LockItem'}}"><i class="fas fa-lock"></i></a>
                                            <input type="checkbox" name="items.{{this.id}}.flags.monks-enhanced-journal.hide" {{checked this.hide}} style="display:none;" />
                                            <a class="item-control item-action" data-action="hide" title="{{localize 'MonksEnhancedJournal.HideShowItem'}}"><i class="fas fa-eye-slash"></i></a>
                                            <a class="item-control item-edit" title="{{localize 'MonksEnhancedJournal.EditItem'}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragItemsToAddToAuctioneer'}}</li>
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoItemsAtTheMoment'}}</li>
                            {{/if}}
                            {{/each}}
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.AuctioneerCurrentlyClosed'}}</li>
                            {{/unless}}
                        </ol>
                    </div>
                </div>
            </div>
            <div class="tab relationships" data-group="primary" data-tab="relationships">
                <div class="tab-inner flexcol">
                    <div class="relationships flexrow">
                        <div class="items-list">
                            <ol class="item-list">
                                {{#each relationships}}
                                <li class="item-header flexrow">
                                    <h3 class="item-name noborder flexrow">{{this.name}}</h3>
                                    <h3 class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Relationship'}}</h3>
                                    {{#if @root.owner}}<div class="item-controls flexrow" buttons="2"></div>{{/if}}
                                </li>
                                {{#each documents}}
                                <li class="item flexrow" data-id="{{this.id}}" data-uuid="{{this.uuid}}" data-container="relationships" data-document="JournalEntry" draggable="false">
                                    <div class="item-name clickable flexrow">
                                        <img class="item-image large actor-icon" src="{{this.img}}" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/{{this.type}}.png' }" />
                                        <h4><a>{{#if this.pack}}<i class="fas fa-atlas" title="{{localize 'MonksEnhancedJournal.FromCompendium'}}"></i> {{/if}}{{this.name}}</a></h4>
                                    </div>

                                    <div class="item-name item-relationship flexrow">
                                        <input type="text" class="item-field" name="relationships.{{this.id}}.relationship" value="{{this.relationship}}" />
                                    </div>

                                    {{#if @root.owner}}
                                    <div class="item-controls flexrow owner" buttons="2">
                                        <input type="checkbox" name="relationships.{{this.id}}.hidden" {{checked this.hidden}} style="display:none;" />
                                        <a class="item-control item-hide" title="{{localize 'MonksEnhancedJournal.HideShowRelationship'}}"><i class="fas fa-eye-slash"></i></a>
                                        <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveRelationship'}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                    {{/if}}
                                </li>
                                {{/each}}
                                {{else}}
                                {{#if owner}}
                                <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragToMakeRelationship'}}</li>
                                {{else}}
                                <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRelationshipsAtTheMoment'}}</li>
                                {{/if}}
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    <div style="flex-grow: 0;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}{{#unless hasGM}}<span style="color:darkred;font-weight:bold;"> {{localize 'MonksEnhancedJournal.msg.CannotEditNotesWithoutGM'}}</span>{{/unless}}</div>
                    <div class="notes-container">
                        {{editor userdata.enrichedText target=notesTarget editable=true button=true owner=owner}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
