<form id="document-create" autocomplete="off">
    {{#if hasFolders}}
    <div class="form-group">
        <label>{{localize 'DOCUMENT.Folder'}}</label>
        <div class="form-fields">
            <select name="folder">
                <option value=""></option>
                {{selectOptions folders selected=data.folder nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <div class="form-fields">
            <textarea name="text" placeholder="{{localize 'DOCUMENT.New' type='Entry'}}" required style="height:120px;">{{data.text}}</textarea>
        </div>
    </div>
</form>