{{#*inline "folderPartial"}}
<li class="checklist-item folder flexcol {{#unless folder.data.expanded}}collapsed{{/unless}}"
    data-folder-id="{{folder.data.id}}" data-folder-depth="{{folder.depth}}">
    <header class="folder-header flexrow">
        <h3 class="noborder"><i class="fas fa-folder-open fa-fw"></i>{{folder.data.name}}</h3>
        {{#if @root.owner}}
        <a class="create-folder" data-parent-folder="{{folder.data.id}}"><i class="fas fa-folder-plus fa-fw"></i></a>
        <a class="create-item" data-folder="{{folder.data.id}}"><i class="fas fa-feather-alt fa-fw"></i></a>
        {{/if}}
    </header>

    <ol class="subdirectory">
        {{~#each folder.children as |child i|}}
        {{> folderPartial folder=child}}
        {{/each}}
        {{#each folder.content}}
        {{> documentPartial}}
        {{/each~}}
    </ol>
</li>
{{/inline}}

{{#*inline "documentPartial"}}
<li class="checklist-item document item flexrow{{#if this.data.checked}} checked{{/if}}" data-document-id="{{this.data.id}}">
    <div class="flexrow">
        <input class="item-checked" style="flex: 0 0 30px;" type="checkbox" name="data.checked" {{checked this.data.checked}}>
        <h3 class="noborder">{{this.data.text}}</h3>
    </div>
</li>
{{/inline}}

<form class="flexcol journal-subsheet journal-body {{entrytype}}" editable="{{editable}}">
    <header class="header-name flexrow">
        <i class="fas {{data.icon}} sheet-icon"></i>
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.JournalEntryName'}}">
        <div class="header-search flexrow" style="flex: 0 0 255px;">
            <i style="flex: 0 0 15px; line-height: 35px;" class="fas fa-search"></i>
            <input type="text" name="search" style="margin-top:1px;font-size:14px !important;" placeholder="{{localize 'MonksEnhancedJournal.SearchChecklist'}}" autocomplete="off">
        </div>
    </header>
    <div class="flexrow" style="flex: 0 0 30px;">
        <button type="button" style="flex:0 0 35px;" class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up fa-fw"></i></button>
        <button type="button" class="create-item"><i class="fas fa-feather"></i> {{localize 'MonksEnhancedJournal.CreateEntry'}}</button>
        <button type="button" class="create-folder"><i class="fas fa-folder"></i> {{localize 'FOLDER.Create'}}</button>
    </div>
    <div class="flexcol" style="height: 100%; overflow: hidden;">
        <ol class="checklist-list">
            {{~#each tree.children as |f fi|}}
            {{> folderPartial folder=f}}
            {{/each}}
            {{#each tree.content}}
            {{> documentPartial}}
            {{/each~}}
        </ol>
    </div>
</form>
