<form id="document-create" autocomplete="off">
    {{#if hasFolders}}
    <div class="form-group">
        <label>{{localize 'DOCUMENT.Folder'}}</label>
        <div class="form-fields">
            <select name="folder">
                <option value=""></option>
                {{selectOptions folders selected=data.folder valueAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Title</label>
        <div class="form-fields">
            <input type="text" name="title" value="{{data.title}}" />
        </div>
    </div>

    <div style="height: 302px; border: 1px solid rgb(var(--mej-light-6)); border-radius: 4px;">
        {{editor data.enrichedText target="text" editable=true button=true owner=data.owner engine=editor.engine collaborate=editor.collaborate }}
    </div>

    {{#if (or (eq hasNumber "count") (eq hasNumber "full"))}}
    <div class="form-group">
        <label>Count</label>
        <div class="form-fields">
            <input type="number" name="count" style="max-width:100px;text-align: right;" value="{{data.count}}" />
        </div>
    </div>
    {{/if}}

    {{#if (eq hasNumber "full")}}
    <div class="form-group">
        <label>Max</label>
        <div class="form-fields">
            <input type="number" name="max" style="max-width: 100px; text-align: right;" value="{{data.max}}" />
        </div>
    </div>
    {{/if}}
    <footer class="sheet-footer flexrow" style="margin-top: 4px;">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'MonksEnhancedJournal.SaveChanges'}}
        </button>
    </footer>
</form>