<li class="list-item document item flexrow" data-document-id="{{this.data.id}}">
    <div class="flexrow">
        <div  class="poll-toggle"><i class="fas fa-caret-up"></i></div>
        <div class="flexcol">
            <h3 class="noborder">{{this.data.title}}</h3>
            <div class="flexrow">
                <div class="flexcol" style="margin-right: 8px;">
                    <div class="progress">
                        <div class="progress-bar" style="width:{{this.percent}}%"></div>
                    </div>
                    <div class="flexrow">
                        <div style="flex: 0 0 50px;font-size: 10px;line-height: 18px;">Votes:</div>
                        <ul class="players-voted">
                            {{#each this.players as |user i|}}
                            <li class="player-vote" title="{{user.username}}" style="background-color: {{user.color}};">{{user.letter}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <button type="button" class="vote-button">{{#if this.voted}}<i class="fas fa-times"></i> Clear{{else}}<i class="fas fa-check"></i> Vote{{/if}}</button>
            </div>
            <div>
                <div class="poll-description collapsed">
                    {{{this.data.text}}}
                </div>
            </div>
        </div>
    </div>
</li> 