<li class="list-item document item flexrow" data-document-id="{{this.data.id}}">
    <div class="flexcol">
        <h3 class="noborder progress-title">{{this.data.title}}</h3>
        <div class="progress-text expand">{{{this.data.text}}}</div>
        <div class="progress-expand" style="display: none;">Show more...</div>
        {{#unless this.noprogress}}
        <div class="flexrow progress-container">
            {{#if @root.owner}}<button type="button" class="progress-button decrease"><i class="fas fa-minus"></i></button>{{/if}}
            <div class="progress" style="margin-top: 1px;">
                <div class="progress-bar" style="width:{{this.percent}}%"></div>
            </div>
            {{#if @root.owner}}<button type="button" class="progress-button increase"><i class="fas fa-plus"></i></button>{{/if}}
        </div>
        {{else}}
        No progress information
        {{/unless}}
    </div>
</li>