<form class="flexcol journal-subsheet {{entrytype}}" editable="{{editable}}">
    <div class="person-container">
        <header class="sheet-header journal-header flexrow">
            <div class="sheet-image">
                <img class="profile nopopout" src="{{data.src}}" data-edit="src" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/person.png' }">
            </div>
            <section class="header-details">
                <h1 class="personname flexrow">
                    <i class="fas {{data.icon}} sheet-icon"></i>
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.PersonName'}}">
                    {{#if sound.audiofile}}
                    <button type="button" class="play-journal-sound">
                        <i class="fas {{#if sound.playing}}fa-volume-up{{else}}fa-volume-off{{/if}}"></i>
                    </button>
                    {{/if}}
                </h1>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Role'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.role" value="{{data.flags.monks-enhanced-journal.role}}" />
                </div>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Location'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.location" value="{{data.flags.monks-enhanced-journal.location}}" />
                </div>
            </section>
            {{#if (and actor canViewActor)}}
            <div class="actor-img">
                <div class="person-actor">{{localize 'MonksEnhancedJournal.Actor'}}</div>
                <img src="{{actor.img}}" data-uuid="{{actor.uuid}}" data-document="Actor" onerror="$(this).hide();">
                <div style="text-align: center;">{{actor.name}}</div>
            </div>
            {{/if}}
        </header>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            <a class="item" data-tab="entry-details">{{localize 'MonksEnhancedJournal.Details'}}</a>
            <a class="item{{#if has.relationships}} hasitems{{/if}}" data-tab="relationships">{{localize 'MonksEnhancedJournal.Relationships'}}</a>
            <a class="item{{#if has.offerings}} hasitems{{/if}}" data-tab="offerings">{{localize 'MonksEnhancedJournal.Offerings'}}</a>
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body half-size">
            <div class="tab description" data-group="primary" data-tab="description">
                <div class="tab-inner flexcol">
                    {{editor enrichedText target="text.content" editable=true button=true owner=owner}}
                </div>
            </div>
            <div class="tab entry-details" data-group="primary" data-tab="entry-details">
                <div class="tab-inner flexcol">
                    <div class="details-section flexrow" style="border-bottom: 2px groove #eeede0;flex-grow:0;">
                        <div class="document-details">
                            <ul>
                                {{#each fields}}
                                {{#unless this.full}}
                                <li {{#if this.hidden}} style="display:none;" {{/if}}>
                                    <label>{{localize this.name}}</label>
                                    <input type="text" name="flags.monks-enhanced-journal.attributes.{{this.id}}.value" value="{{ this.value }}" />
                                </li>
                                {{/unless}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="details-section flexcol" style="border-bottom: 2px groove #eeede0; overflow-y: auto;">
                        {{#each fields}}
                        {{#if this.full}}
                        <div class="form-group" {{#if this.hidden}} style="display:none;" {{/if}}>
                            <label>{{localize this.name}}</label>
                            <textarea name="flags.monks-enhanced-journal.attributes.{{this.id}}.value">{{this.value}}</textarea>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="tab relationships" data-group="primary" data-tab="relationships">
                <div class="tab-inner flexcol">
                    <div class="relationships flexrow">
                        <ul class="items-list">
                            {{#each relationships}}
                            <li class="items-header flexrow">
                                <h3 class="item-name noborder flexrow">{{this.name}}</h3>
                                <h3 class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Relationship'}}</h3>
                                {{#if @root.owner}}<div class="item-controls flexrow"></div>{{/if}}
                            </li>
                            {{#each documents}}
                            <li class="item flexrow" data-id="{{this.id}}" data-uuid="{{this.uuid}}" data-container="relationships" data-document="JournalEntry" draggable="false">
                                <div class="item-name flexrow">
                                    <img class="item-image actor-icon" src="{{this.img}}" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/{{this.type}}.png' }" />
                                    <h4><a>{{#if this.pack}}<i class="fas fa-atlas" title="{{localize 'MonksEnhancedJournal.FromCompendium'}}"></i> {{/if}}{{this.name}}</a></h4>
                                </div>

                                <div class="item-name item-relationship flexrow">
                                    <input type="text" class="item-field" name="relationships.{{this.id}}.relationship" value="{{this.relationship}}" />
                                </div>

                                {{#if @root.owner}}
                                <div class="item-controls flexrow owner">
                                    <input type="checkbox" name="relationships.{{this.id}}.hidden" {{checked this.hidden}} style="display:none;" />
                                    <a class="item-control item-hide" title="{{localize 'MonksEnhancedJournal.HideShowRelationship'}}"><i class="fas fa-eye-slash"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveRelationship'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragToMakeRelationship'}}</li>
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRelationshipsAtTheMoment'}}</li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab offerings" data-group="primary" data-tab="offerings">
                <div class="tab-inner flexcol">
                    <div class="offering-list">
                        <ul class="items-list">
                            <li class="items-header flexrow">
                                <h3 class="item-name noborder flexrow">Actor</h3>
                                <h3 class="item-name noborder flexrow">Items</h3>
                                <h3 class="item-name noborder flexrow">State</h3>

                                {{#if @root.owner}}
                                <div class="item-controls flexrow">
                                </div>
                                {{/if}}
                                <div class="item-controls flexrow">
                                    <a class="item-control make-offering" title="{{localize 'MonksEnhancedJournal.MakeOffering'}}"><i class="fas fa-hand-holding-usd"></i></a>
                                </div>
                            </li>
                            {{#each offerings}}
                            <li class="item flexrow" data-id="{{this.id}}" data-actor-id="{{this.actorId}}" data-container="offerings" draggable="false">
                                <div class="item-name flexrow">
                                    <img class="item-image actor-icon" src="{{this.img}}" />
                                    <span>{{this.name}}</span>
                                </div>

                                <div class="item-name item-offered flexcol">
                                    {{#each this.items}}
                                    <div class="flexrow" style="width: 100%; line-height: 32px;">
                                        <img class="item-image item-icon" src="{{this.img}}" />
                                        <span class="tag">{{this.name}}</span>
                                    </div>
                                    {{/each}}
                                </div>

                                <div class="item-name item-offered">
                                    {{this.stateName}}
                                </div>

                                {{#if @root.owner}}
                                <div class="item-controls flexrow owner">
                                    {{#if (eq this.state "offering")}}
                                    <a class="item-control item-accept" title="{{localize 'MonksEnhancedJournal.AcceptOffering'}}"><i class="fas fa-check"></i></a>
                                    <a class="item-control item-reject" title="{{localize 'MonksEnhancedJournal.RejectOffering'}}"><i class="fas fa-times"></i></a>
                                    {{/if}}
                                </div>

                                <div class="item-controls flexrow owner">
                                    <input type="checkbox" name="offerings.{{this.id}}.hidden" {{checked this.hidden}} style="display:none;" />
                                    <a class="item-control item-private" title="{{localize 'MonksEnhancedJournal.HideShowOffering'}}"><i class="fas fa-eye-slash"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveOffering'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{else}}
                                <div class="item-controls flexrow">
                                    {{#if this.owner}}
                                    {{#if this.hidden}}
                                    <i class="fas fa-eye-slash"></i>
                                    {{/if}}
                                    {{#if (eq this.state "offering")}}
                                    <a class="item-control item-cancel" title="{{localize 'MonksEnhancedJournal.CancelOffering'}}"><i class="fas fa-trash"></i></a>
                                    {{/if}}
                                    {{/if}}
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab notes" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    <div style="flex-grow: 0;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}{{#unless hasGM}}<span style="color:darkred;font-weight:bold;"> {{localize 'MonksEnhancedJournal.msg.CannotEditNotesWithoutGM'}}</span>{{/unless}}</div>
                    <div>
                        <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" class="trim-textarea">{{userdata.notes}}</textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>