<form class="flexcol journal-subsheet picture-container {{entrytype}}" editable="{{editable}}">
    <header class="header-name flexrow">
        <i class="fas {{data.icon}} sheet-icon"></i>
        <input type="text" name="name" placeholder="{{localize 'MonksEnhancedJournal.PersonName'}}" value="{{data.name}}" />
        {{#if sound.audiofile}}
        <button type="button" class="play-journal-sound">
            <i class="fas {{#if sound.playing}}fa-volume-up{{else}}fa-volume-off{{/if}}"></i>
        </button>
        {{/if}}
        <input type="text" style="display:none;" /><!--I can't figure out what's going on, but to avoid Enter causing a page submit a second text needs to be on the page-->
    </header>
    <div class="flexcol picture-area" style="overflow:hidden;position:relative;">
        <!--<div class="img-background" style="background-image: url('{{data.src}}')"></div>-->
        <div class="picture-img lightbox-image" name="src" src="{{data.src}}" style="background-image: url('{{data.src}}')" data-edit="src" onerror="$(this).css({ backgroundImage: 'url(icons/svg/mystery-man.svg)' }" ></div>
        <div class="instruction" style="position: absolute; width: 100%;pointer-events: none;{{#if data.src}}display:none;{{/if}}">Click to add an Image</div>
    </div>
</form>
