<form class="flexcol journal-subsheet {{entrytype}}" editable="{{editable}}">
    <div class="quest-container">
        <header class="sheet-header journal-header flexrow">
            <div class="sheet-image">
                <img class="profile nopopout" src="{{data.src}}" data-edit="src" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/quest.png' }">
            </div>
            <section class="header-details">
                <h1 class="questname flexrow">
                    <i class="fas {{data.icon}} sheet-icon"></i>
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.QuestName'}}">
                    {{#if sound.audiofile}}
                    <button type="button" class="play-journal-sound">
                        <i class="fas {{#if sound.playing}}fa-volume-up{{else}}fa-volume-off{{/if}}"></i>
                    </button>
                    {{/if}}
                </h1>
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Source'}}</label>
                    <input type="text" name="flags.monks-enhanced-journal.source" value="{{data.flags.monks-enhanced-journal.source}}" />
                </div>
                {{#if owner}}
                <div class="form-group">
                    <label>{{localize 'MonksEnhancedJournal.Status'}}</label>
                    <select name="flags.monks-enhanced-journal.status" style="font-size: inherit; font-family: inherit; height: calc(var(--font-size-20) + 6); margin: 0px;">
                        {{ selectOptions statusOptions selected=data.flags.monks-enhanced-journal.status localize=true }}
                    </select>
                </div>
                <div class="flexrow">
                    <div class="form-group">
                        <label>{{localize 'MonksEnhancedJournal.ShowToPlayers'}}</label>
                        <input class="show-to-players" type="checkbox" {{checked showtoplayers}}>
                    </div>
                    <div class="form-group">
                        <label>{{localize 'MonksEnhancedJournal.DisplayInNotifications'}}</label>
                        <input name="flags.monks-enhanced-journal.display" type="checkbox" {{checked data.flags.monks-enhanced-journal.display}}>
                    </div>
                </div>
                {{/if}}
            </section>
            {{#if (and actor canViewActor)}}
            <div class="actor-img">
                <div class="quest-source">{{localize 'MonksEnhancedJournal.Source'}}</div>
                <img src="{{actor.img}}" data-uuid="{{actor.uuid}}" data-document="Actor" onerror="$(this).hide();">
                <div style="text-align: center;font-size:12px;">{{actor.name}}</div>
            </div>
            {{/if}}
        </header>
        <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item active" data-tab="description">{{localize 'MonksEnhancedJournal.Description'}}</a>
            {{#if useobjectives}}<a class="item{{#if has.objectives}} hasitems{{/if}}" data-tab="objectives">{{localize 'MonksEnhancedJournal.Objectives'}}</a>{{/if}}
            <a class="item{{#if has.rewards}} hasitems{{/if}}" data-tab="rewards">{{localize 'MonksEnhancedJournal.Rewards'}}</a>
            <a class="item{{#if has.relationships}} hasitems{{/if}}" data-tab="relationships">{{localize 'MonksEnhancedJournal.Relationships'}}</a>
            <a class="item" data-tab="notes">{{localize 'MonksEnhancedJournal.Notes'}}</a>
        </nav>
        <section class="sheet-body half-size">
            <div class="tab description  active" data-group="primary" data-tab="description">
                <div class="tab-inner flexcol">
                    {{editor enrichedText target="text.content" editable=true button=true owner=owner}}
                </div>
            </div>
            {{#if useobjectives}}
            <div class="tab objectives active" data-group="primary" data-tab="objectives">
                <div class="tab-inner flexcol">
                    <ol class="items-list objective-items">
                        <li class="items-header flexrow">
                            <h3 class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Objectives'}}</h3>

                            {{#if owner}}
                            <div class="item-name flexrow" style="flex:0 0 100px;justify-content:center;">
                                {{localize 'MonksEnhancedJournal.Visible'}}
                            </div>
                            {{/if}}

                            <div class="item-name flexrow" style="flex:0 0 100px;justify-content:center;">
                                {{localize 'MonksEnhancedJournal.Completed'}}
                            </div>

                            <div class="item-name flexrow" style="flex:0 0 100px;justify-content:center;">
                                {{localize 'MonksEnhancedJournal.Counter'}}
                            </div>

                            {{#if owner}}
                            <div class="item-controls flexrow">
                                <a class="item-control objective-create" title="{{localize 'MonksEnhancedJournal.CreateObjective'}}" data-type="objective">
                                    <i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}
                                </a>
                            </div>
                            {{/if}}
                        </li>

                        <ol class="item-list">
                            {{#each objectives}}
                            <li class="item flexcol " data-id="{{this.id}}" data-container="objectives" data-document="Objective" draggable="true">
                                <div class="flexrow">
                                    <div class="item-name flexrow">
                                        <h4 style="white-space: normal;font-weight:700;">{{this.title}}</h4>
                                    </div>

                                    {{#if @root.owner}}
                                    <div class="item-available flexrow" style="flex:0 0 100px;position:relative;justify-content:center;">
                                        <input class="objective-available" name="objectives.{{this.id}}.available" type="checkbox" {{checked this.available}} />
                                    </div>
                                    {{/if}}

                                    <div class="item-status flexrow" style="flex:0 0 100px;position:relative;justify-content:center;">
                                        <input class="objective-status" name="objectives.{{this.id}}.status" type="checkbox" {{checked this.status}} />
                                    </div>

                                    <div class="item-status flexrow" style="flex: 0 0 100px; text-align: center;">
                                        <span class="objective-counter">{{this.counter}}</span>
                                    </div>

                                    {{#if @root.owner}}
                                    <div class="item-controls flexrow">
                                        <a class="item-control objective-edit" title="Edit Objective"><i class="fas fa-edit"></i></a>
                                        <a class="item-control objective-delete" title="{{localize 'MonksEnhancedJournal.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="item-content" style="width:100%;">
                                    <h4 style="white-space: normal;">{{{this.content}}}</h4>
                                </div>
                            </li>
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoObjectivesPressAddButton'}}</li>
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoObjectivesAtTheMoment'}}</li>
                            {{/if}}
                            {{/each}}
                        </ol>
                    </ol>
                </div>
            </div>
            {{/if}}
            <div class="tab rewards active" data-group="primary" data-tab="rewards">
                <div class="tab-inner flexcol">
                    <div class="tab-bar flexrow reward-list" style="flex: 0 0 30px; border-bottom: 1px solid #C0C0C0;">
                        <div class="tab-row flexrow">
                            {{#each rewards}}
                            <div class="journal-tab reward-tab flexrow {{#if (eq this.id @root.reward.id)}}active{{/if}}" data-reward-id="{{this.id}}" title="{{this.name}}">
                                <div class="tab-content">{{#if owner}}{{#if this.active}}<i class="fas fa-check"></i> {{/if}}{{#if this.visible}}<i class="fas fa-eye"></i> {{/if}}{{/if}}{{this.name}}</div>
                                <div class="close"><i class="fas fa-times"></i></div>
                            </div>
                            {{/each}}
                            {{#if owner}}
                            <div class="tab-button tab-add"><i class="fas fa-plus"></i></div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="reward-container flexcol" data-id="{{reward.id}}">
                        {{#if reward}}
                        <div class="details-section" style="flex-grow: 0;">
                            <div class="form-group">
                                <label>{{localize 'MonksEnhancedJournal.Name'}}</label>
                                <div class="form-fields">
                                    <input type="text" name="reward.{{reward.id}}.name" value="{{reward.name}}" />
                                </div>
                            </div>

                            <div class="flexrow form-group" style="padding-top: 0px; padding-bottom: 0px;">
                                <div class="flexcol" style="flex: 0 0 125px; margin-right: 10px;">
                                    <label>{{localize 'MonksEnhancedJournal.Experience'}}</label>
                                    <div class="form-fields flexrow" style="align-items: flex-start;">
                                        {{#if canxp}}
                                        <button type="button" class="assign-xp" title="{{localize 'MonksEnhancedJournal.AssignExperience'}}" tabindex="-1" style="flex: 0 0 35px; width: 35px;">
                                            <i class="fas fa-book-medical fa-fw"></i>
                                        </button>
                                        {{/if}}
                                        <input type="number" min="0" style="text-align: right; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" name="reward.{{reward.id}}.xp" placeholder="0" value="{{reward.xp}}" />
                                    </div>
                                </div>
                                <div class="flexcol" style="margin-right: 10px;">
                                    <label>{{localize 'MonksEnhancedJournal.Additional'}}</label>
                                    <div class="form-fields">
                                        <input type="text" name="reward.{{reward.id}}.additional" value="{{reward.additional}}" />
                                    </div>
                                </div>
                                {{#if owner}}
                                <div class="flexcol" style="flex: 0 0 100px; text-align: center; margin-right: 10px;">
                                    <label data-tooltip="Enhanced Journal will use this to determine what the default reward is when assigning items from the Notes layer">Default</label>
                                    <div class="form-fields" style="justify-content: center;">
                                        <input type="checkbox" class="select-reward" name="reward.{{reward.id}}.active" {{checked reward.active}} />
                                    </div>
                                </div>
                                <div class="flexcol" style="flex: 0 0 100px; text-align: center;">
                                    <label data-tooltip="Enhanced Journals will reveal this reward to your players">{{localize 'MonksEnhancedJournal.Visible'}}</label>
                                    <div class="form-fields" style="justify-content: center;">
                                        <input type="checkbox" class="select-reward" name="reward.{{reward.id}}.visible" {{checked reward.visible}} />
                                    </div>
                                </div>
                                {{/if}}
                            </div>

                            {{#if currency}}
                            <div class="form-group currency-group">
                                <label>{{localize 'MonksEnhancedJournal.Currency'}}</label>
                                <div class="form-fields" style="flex-wrap:nowrap;">
                                    {{#each currency}}
                                    <label>{{localize this.name}}</label>
                                    <input type="text" name="reward.{{../reward.id}}.currency.{{this.id}}" placeholder="0" value="{{this.value}}" />
                                    {{/each}}
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <ol class="items-list reward-items">
                            <li class="items-header flexrow">
                                {{#if owner}}
                                <div class="encounter-buttons flexrow">
                                    <div class="assign-items" title="{{localize 'MonksEnhancedJournal.AssignItems'}}"><i class="fas fa-suitcase"></i></div>
                                </div>
                                {{/if}}
                                <h3 class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Items'}}</h3>
                                {{#if owner}}
                                <div class="item-controls item-assigned">{{localize 'MonksEnhancedJournal.Assigned'}}</div>

                                <div class="item-controls item-quantity">{{localize 'MonksEnhancedJournal.Quantity'}}</div>

                                <div class="item-controls item-remaining">{{localize 'MonksEnhancedJournal.Remaining'}}</div>

                                <div class="item-controls flexrow">
                                    <a class="item-control roll-table" title="{{localize 'MonksEnhancedJournal.PopulateFromRollTable'}}"><i class="fas fa-th-list"></i></a>
                                    <a class="item-control refill-all" title="{{localize 'MonksEnhancedJournal.RefillAllItems'}}"><i class="fas fa-cart-arrow-down"></i></a>
                                </div>
                                {{/if}}
                            </li>

                            <ol class="item-list">
                                {{#each reward.groups}}
                                <li class="items-header flexrow{{#if this.collapsed}} collapsed{{/if}}" data-id="{{this.id}}">
                                    <h3 class="item-name noborder flexrow">{{localize this.name}} <span class="item-count">({{this.items.length}} {{localize 'MonksEnhancedJournal.items'}})</span></h3>
                                </li>
                                <ul class="item-list" {{#if this.collapsed}} style="display: none;" {{/if}}>
                                    {{#each this.items}}
                                    <li class="item flexrow{{#if this.received}} received{{/if}}{{#if (eq this.remaining 0)}} empty{{/if}}" data-id="{{this.id}}" data-container="items" data-document="Item" draggable="false">
                                        <div class="item-name flexrow">
                                            <div class="item-image" style="background-image: url('{{this.img}}')"></div>
                                            <h4>{{this.name}}{{#if (gt this.qtyof 1)}} <span class="groups-of">(in groups of {{this.qtyof}})</span>{{/if}}</h4>
                                        </div>
                                        {{#if @root.owner}}
                                        <div class="item-name item-received">
                                            {{#if this.received}}{{localize 'MonksEnhancedJournal.ReceivedBy'}} {{this.received}}{{/if}}
                                        </div>

                                        <div class="item-controls item-assigned">
                                            <input type="checkbox" name="reward.{{../../reward.id}}.items.{{this.id}}.flags.monks-enhanced-journal.assigned" {{checked this.assigned}} style="text-align:center;" />
                                        </div>

                                        <div class="item-controls item-quantity">
                                            <input type="number" min="0" name="reward.{{../../reward.id}}.items.{{this.id}}.flags.monks-enhanced-journal.quantity" value="{{this.quantity}}" style="text-align:center;" />
                                        </div>

                                        <div class="item-controls item-remaining">
                                            <input type="number" name="reward.{{../../reward.id}}.items.{{this.id}}.flags.monks-enhanced-journal.remaining" value="{{this.remaining}}" style="text-align:center;" />
                                        </div>

                                        <div class="item-controls flexrow">
                                            <a class="item-control item-refill" title="{{localize 'MonksEnhancedJournal.RefillItem'}}"><i class="fas fa-cart-arrow-down"></i></a>
                                            <a class="item-control item-edit" title="{{localize 'MonksEnhancedJournal.EditItem'}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                        </div>
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                                {{else}}
                                {{#if owner}}
                                <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragItemsToAddToLoot'}}</li>
                                {{else}}
                                <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRewardsAtTheMoment'}}</li>
                                {{/if}}
                                {{/each}}
                            </ol>
                        </ol>
                        {{else}}
                        {{#if owner}}
                        <div class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRewardsPressAddButton'}}</div>
                        {{else}}
                        <div class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRewardsAtTheMoment'}}</div>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="tab relationships" data-group="primary" data-tab="relationships">
                <div class="tab-inner flexcol">
                    <div class="relationships flexrow">
                        <ul class="items-list">
                            {{#each relationships}}
                            <li class="items-header flexrow">
                                <h3 class="item-name noborder flexrow">{{this.name}}</h3>
                                <h3 class="item-name noborder flexrow">{{localize 'MonksEnhancedJournal.Relationship'}}</h3>
                                {{#if @root.owner}}<div class="item-controls flexrow"></div>{{/if}}
                            </li>
                            {{#each documents}}
                            <li class="item flexrow" data-id="{{this.id}}" data-uuid="{{this.uuid}}" data-container="relationships" data-document="JournalEntry" draggable="false">
                                <div class="item-name flexrow">
                                    <img class="item-image actor-icon" src="{{this.img}}" onerror="if (!this.imgerr) { this.imgerr = true; this.src = 'modules/monks-enhanced-journal/assets/{{this.type}}.png' }" />
                                    <h4><a>{{#if this.pack}}<i class="fas fa-atlas" title="{{localize 'MonksEnhancedJournal.FromCompendium'}}"></i> {{/if}}{{this.name}}</a></h4>
                                </div>

                                <div class="item-name item-relationship flexrow">
                                    <input type="text" class="item-field" name="relationships.{{this.id}}.relationship" value="{{this.relationship}}" />
                                </div>

                                {{#if @root.owner}}
                                <div class="item-controls flexrow owner">
                                    <input type="checkbox" name="relationships.{{this.id}}.hidden" {{checked this.hidden}} style="display:none;" />
                                    <a class="item-control item-hide" title="{{localize 'MonksEnhancedJournal.HideShowRelationship'}}"><i class="fas fa-eye-slash"></i></a>
                                    <a class="item-control item-delete" title="{{localize 'MonksEnhancedJournal.RemoveRelationship'}}"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                            {{else}}
                            {{#if owner}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.DragToMakeRelationship'}}</li>
                            {{else}}
                            <li class="instruction">{{localize 'MonksEnhancedJournal.msg.NoRelationshipsAtTheMoment'}}</li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab notes active" data-group="primary" data-tab="notes">
                <div class="tab-inner flexcol">
                    <div style="flex-grow: 0;">{{localize 'MonksEnhancedJournal.OnlyViewable'}}{{#unless hasGM}}<span style="color:darkred;font-weight:bold;"> {{localize 'MonksEnhancedJournal.msg.CannotEditNotesWithoutGM'}}</span>{{/unless}}</div>
                    <div>
                        <textarea name="flags.monks-enhanced-journal.{{userid}}.notes" class="trim-textarea">{{userdata.notes}}</textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>