<form class="flexcol journal-subsheet journal-body {{entrytype}}" editable="{{editable}}">
    <header class="header-name flexrow">
        <i class="fas {{data.icon}} sheet-icon"></i>
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'MonksEnhancedJournal.JournalEntryName'}}">
        {{#if sound.audiofile}}
        <button type="button" class="play-journal-sound">
            <i class="fas {{#if sound.playing}}fa-volume-up{{else}}fa-volume-off{{/if}}"></i>
        </button>
        {{/if}}
        <input type="text" style="display:none;" /><!--I can't figure out what's going on, but to avoid Enter causing a page submit a second text needs to be on the page-->
    </header>
    <div class="flexcol editor-parent" style="overflow-y:auto;position:relative;">
        {{editor enrichedText target="text.content" editable=true button=true owner=owner}}
    </div>
</form>
