<form class="monks-journal-sheet sheet" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="flexrow" style="height: 100%;">
        <aside class="sidebar flexcol">
            <nav class="page-tabs" aria-label="PACKAGECONFIG.NavLabel">
                <a class="item category-tab" data-tab="encounter">
                    {{ localize 'MonksEnhancedJournal.encounter' }}
                </a>
                <a class="item category-tab" data-tab="event">
                    {{ localize 'MonksEnhancedJournal.event' }}
                </a>
                <a class="item category-tab" data-tab="organization">
                    {{ localize 'MonksEnhancedJournal.organization' }}
                </a>
                <a class="item category-tab" data-tab="person">
                    {{ localize 'MonksEnhancedJournal.person' }}
                </a>
                <a class="item category-tab" data-tab="picture">
                    {{ localize 'MonksEnhancedJournal.picture' }}
                </a>
                <a class="item category-tab" data-tab="place">
                    {{ localize 'MonksEnhancedJournal.place' }}
                </a>
                <a class="item category-tab" data-tab="poi">
                    {{ localize 'MonksEnhancedJournal.poi' }}
                </a>
                <a class="item category-tab" data-tab="quest">
                    {{ localize 'MonksEnhancedJournal.quest' }}
                </a>
                <a class="item category-tab" data-tab="shop">
                    {{ localize 'MonksEnhancedJournal.shop' }}
                </a>
            </nav>
            <button class="reset-all" type="button">
                <i class="fas fa-undo"></i> Reset Defaults
            </button>
        </aside>
        <div class="categories flexcol" autocomplete="off">
            <div style="flex: 1; padding: 0px; overflow: hidden; min-height: 400px;">
                <section class="tab category active" data-tab="encounter" data-category="encounter">
                    {{> encounter}}
                </section>
                <section class="tab category" data-tab="event" data-category="event">
                    {{> event}}
                </section>
                <section class="tab category" data-tab="organization" data-category="organization">
                    {{> organization}}
                </section>
                <section class="tab category" data-tab="person" data-category="person">
                    {{> person}}
                </section>
                <section class="tab category" data-tab="picture" data-category="picture">
                    {{> picture}}
                </section>
                <section class="tab category" data-tab="place" data-category="place">
                    {{> place}}
                </section>
                <section class="tab category" data-tab="poi" data-category="poi">
                    {{> poi}}
                </section>
                <section class="tab category" data-tab="quest" data-category="quest">
                    {{> quest}}
                </section>
                <section class="tab category" data-tab="shop" data-category="shop">
                    {{> shop}}
                </section>
            </div>
            <footer>
                <button type="submit"><i class="fas fa-save"></i> Save Changes</button>
            </footer>
        </div>
    </div>
</form>