<nav class="sheet-navigation tabs encounter-tabs" data-group="primary">
    <a class="item active" data-tab="tabs">Tabs</a>
</nav>
<section class="sheet-body encounter-body">
    <div class="tab active" data-group="primary" data-tab="tabs">
        {{#each sheetSettings.encounter.tabs}}
        <div class="form-group">
            <label>{{ localize this.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="sheetSettings.encounter.tabs.{{@key}}.shown" data-dtype="Boolean" {{checked this.shown}}>
            </div>
        </div>
        {{/each}}
    </div>
</section>
