<nav class="sheet-navigation tabs picture-tabs" data-group="primary">
    <a class="item active" data-tab="settings">Settings</a>
</nav>
<section class="sheet-body picture-body">
    <div class="tab active" data-group="primary" data-tab="settings">
        {{#each sheetSettings.picture.settings}}
        <div class="form-group">
            <label>{{ localize this.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="sheetSettings.picture.settings.{{@key}}.value" data-dtype="Boolean" {{checked this.value}}>
            </div>
        </div>
        {{/each}}
    </div>
</section>