<nav class="sheet-navigation tabs place-tabs" data-group="primary">
    <a class="item active" data-tab="tabs">Tabs</a>
    <a class="item" data-tab="fields">Fields</a>
</nav>
<section class="sheet-body place-body">
    <div class="tab active" data-group="primary" data-tab="tabs">
        {{#each sheetSettings.place.tabs}}
        <div class="form-group">
            <label>{{ localize this.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="sheetSettings.place.tabs.{{@key}}.shown" data-dtype="Boolean" {{checked this.shown}}>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="tab" data-group="primary" data-tab="fields">
        <div class="items-list">
            <div class="item-header flexrow" style="position: relative;">
                {{#if generalEdit}}
                <div class="item-controls"></div>
                {{/if}}
                <div class="item-name">{{localize 'MonksEnhancedJournal.Name'}}</div>
                <div class="item-detail">{{localize 'MonksEnhancedJournal.Shown'}}</div>
                {{#if generalEdit}}
                <div class="item-detail">{{localize 'MonksEnhancedJournal.Full'}}</div>
                <div class="item-controls flexrow" buttons="2">
                    <a class="item-control text item-add-attribute" data-attribute="sheetSettings.place.attributes"><i class="fas fa-plus"></i> {{localize 'MonksEnhancedJournal.Add'}}</a>
                </div>
                {{/if}}
            </div>

            <ol class="item-list">
                {{#each sheetSettings.place.attributes}}
                <li class="item flexrow" data-id="sheetSettings.place.attributes.{{this.id}}">
                    {{#if @root.generalEdit}}
                    <div class="item-controls">
                        <i class="fas fa-bars reorder-attribute" data-attribute="sheetSettings.place.attributes" style="cursor:ns-resize;"></i>
                    </div>

                    <div class="item-name">
                        <input type="text" name="sheetSettings.place.attributes.{{this.id}}.name" class="attribute" autocomplete="off" value="{{this.name}}" />
                    </div>
                    {{else}}
                    <div class="item-name">
                        <h4 class="noborder" for="content">{{localize this.name}}</h4>
                    </div>
                    {{/if}}

                    <div class="item-detail">
                        <input type="checkbox" name="sheetSettings.place.attributes.{{this.id}}.shown" class="attribute" {{checked this.shown}} />
                    </div>
                    {{#if @root.generalEdit}}
                    <div class="item-detail">
                        <input type="checkbox" name="sheetSettings.place.attributes.{{this.id}}.full" class="attribute" {{checked this.full}} />
                    </div>

                    <div class="item-controls flexrow" buttons="2">
                        <a class="item-control item-delete-attribute"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</section>