<nav class="sheet-navigation tabs poi-tabs" data-group="primary">
    <a class="item active" data-tab="tabs">Tabs</a>
</nav>
<section class="sheet-body poi-body">
    <div class="tab active" data-group="primary" data-tab="tabs">
        {{#each sheetSettings.poi.tabs}}
        <div class="form-group">
            <label>{{ localize this.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="sheetSettings.poi.tabs.{{@key}}.shown" data-dtype="Boolean" {{checked this.shown}}>
            </div>
        </div>
        {{/each}}
    </div>
</section>