<nav class="sheet-navigation tabs shop-tabs" data-group="primary">
    <a class="item active" data-tab="tabs">Tabs</a>
    <a class="item" data-tab="prices">Prices</a>
</nav>
<section class="sheet-body shop-body">
    <div class="tab active" data-group="primary" data-tab="tabs">
        {{#each sheetSettings.shop.tabs}}
        <div class="form-group">
            <label>{{ localize this.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="sheetSettings.shop.tabs.{{@key}}.shown" data-dtype="Boolean" {{checked this.shown}}>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="tab" data-group="primary" data-tab="prices">
        <p class="notes">Change the rate this shop sells items and buys them back.</p>
        <p class="notes">Leave the type field blank to use the default, or use -1 to prevent the shop from buying back that type of item.</p>
        <table>
            <tr>
                <td></td>
                <td style="text-align:right;">Sell</td>
                <td style="text-align:right;">Buy Back</td>
            </tr>
            <tr>
                <td>Default</td>
                <td>
                    <div class="form-fields flexrow" style="justify-content: flex-end;">
                        <span style="font-size:20px;margin-left:10px;flex: 0 0 20px;text-align:left;">&times;</span>
                        <input type="number" class="sell-field" style="flex: 0 0 60px;text-align:right;" name="sheetSettings.shop.adjustment.default.sell" min="0" step="0.01" data-dtype="Number" placeholder="{{defaultAdjustment.default.sell}}" value="{{sheetSettings.shop.adjustment.default.sell}}" />
                    </div>
                </td>
                <td>
                    <div class="form-fields flexrow" style="justify-content: flex-end;">
                        <span style="font-size:20px;margin-left:10px;flex: 0 0 20px;text-align:left;">&times;</span>
                        <input type="number" class="buy-field" style="flex: 0 0 60px;text-align:right;" name="sheetSettings.shop.adjustment.default.buy" min="-1" step="0.01" data-dtype="Number" placeholder="{{defaultAdjustment.default.buy}}" value="{{sheetSettings.shop.adjustment.default.buy}}" />
                    </div>
                </td>
            </tr>
            <tr class="shop-config-type-label">
                <td colspan="3">
                    <hr />
                    Types
                    <hr />
                </td>
            </tr>
            {{#each sheetSettings.shop.adjustment}}
            {{#unless (eq @key 'default')}}
            <tr>
                <td>{{this.name}}</td>
                <td>
                    <div class="form-fields flexrow" style="justify-content: flex-end;">
                        <span style="font-size:20px;margin-left:10px;flex: 0 0 20px;text-align:left;">&times;</span>
                        <input type="number" class="sell-field" style="flex: 0 0 60px;text-align:right;" name="sheetSettings.shop.adjustment.{{@key}}.sell" step="any" data-dtype="Number" value="{{lookup (lookup @root.sheetSettings.shop.adjustment @key) 'sell'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-fields flexrow" style="justify-content: flex-end;">
                        <span style="font-size:20px;margin-left:10px;flex: 0 0 20px;text-align:left;">&times;</span>
                        <input type="number" class="buy-field" style="flex: 0 0 60px;text-align:right;" name="sheetSettings.shop.adjustment.{{@key}}.buy" step="any" data-dtype="Number" value="{{lookup (lookup @root.sheetSettings.shop.adjustment @key) 'buy'}}" />
                    </div>
                </td>
            </tr>
            {{/unless}}
            {{/each}}
        </table>
        {{#unless generalEdit}}
        <hr />
        <div class="form-group">
            <label>{{localize 'MonksEnhancedJournal.ConvertShopItems'}}</label>
            <div class="form-fields" style="text-align:right;">
                <a class="convert-button"><i class="fas fa-donate"></i> {{localize 'MonksEnhancedJournal.Convert'}}</a>
            </div>
        </div>
        {{/unless}}
    </div>
</section>
